<% content_for :body do %>
  <div class="container"><div class="row"><%= render "devise/registrations/new_modal" %></div></div>
<style type="text/css" media="all">
.invite-show-bg{
  background: url(<%= image_path('mumbai.jpg')  %>) center center fixed;
  height: 500px;
  background-size:cover;
}
.invite-show-info-container h4 {
  color: white;
  font-size: 18px;
  text-shadow: black 0px 0px 10px;
}
.invite-button-signup{
  border-radius:0px;
  font-weight:600;
  margin-top:10px;
}
.invite-show-info-container h3 {
  color: white;
  font-size: 24px;
  text-shadow: black 0px 0px 10px;
}
.invite-show-bg-cover{
  background: rgba(0,0,0,0.25) fixed;
  height: 500px;
}
.invite-show-info-container{
  padding-top: 100px;
  text-align:center;
}
.profile-image{
  border: 1px solid white;
  background: white;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-bottom:10px;
}
</style>
<div class="invite-show-bg">
  <div class="invite-show-bg-cover">
    <div class="invite-show-info-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5">
            <%= image_tag @user.avatar.url(:medium_center), class: "profile-image"  %>
          </div>
        </div>
        <div class="row">
          <h3 class="text-center"><%= @user.complete_name  %> gave you Rs. 500 credit to travel using Roomnhouse</h3>
          <h4 class="text-center"><%= @user.complete_name  %> has invited you to join Roomnhouse, the best way to rent accommodation in budget across India.</h4>
        </div>
        <div class="row">
          <button class="btn btn-danger invite-button-signup" data-toggle="modal" data-target="#registrationForm"> Signup now to claim your credit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="text-center" style="padding:20px;"> Top Destinations</h2>
    <style  media="all">
.popular-destinations .price-box{
  color: #fff;
  text-align: right;
  position: absolute;
  top: 0;
  right: 16px;
  padding: 5px;
  background-color: #212121;
  opacity: 0.8;
}

.popular-destinations .price-box .price{
  font-size: 20px;
  font-weight: 100;
}
    </style>
    <div class="popular-destinations row">
      <div class="col-lg-7" >
        <a href="/search/varanasi<%= params[:aid] ? "/?aid=#{params[:aid]}" : ""  %>" style="float: inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
          <div class="price-box">
            <div class="price">
              <sup><i class="icon-inr"></i></sup>
              250.0
              <sup>INR</sup>
            </div> 
            <div class="price-info">per night</div>
          </div>
          <%= image_tag 'destinations/varanasi-large.jpg', style: "max-height: 250px;width:100%;"  %>
          <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
            <h3 >Discover Varanasi</h3>
            Dwell into Spirituality at the city of Gods
          </div>
          <div class="col-lg-4" style="padding:25px 0px 25px 80px;">
            See Properties 
          </div>
        </a>
      </div>

      <div class="col-lg-5" >
        <a href="/search/bangalore<%= params[:aid] ? "/?aid=#{params[:aid]}" : ""  %>"  style="float:inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
          <div class="price-box">
            <div class="price">
              <sup><i class="icon-inr"></i></sup>
              600.0
              <sup>INR</sup>
            </div> 
            <div class="price-info">per night</div>
          </div>
          <%= image_tag 'destinations/bangalore-medium.jpg', style: "max-height: 250px;width:100%;"  %>
          <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
            <h3 >Explore Bangalore</h3>
            Look around and see alot
          </div>
          <div class="col-lg-4" style="padding:25px 10px 10px 10px;">
            See Properties 
          </div>
        </a>
      </div>

    </div>
    <div class="row" style="height:30px;"></div>
    <div class="popular-destinations row">
      <div class="col-lg-5" >
        <a href="/search/jaipur<%= params[:aid] ? "/?aid=#{params[:aid]}" : ""  %>"  style="float:inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
          <div class="price-box">
            <div class="price">
              <sup><i class="icon-inr"></i></sup>
              700.0
              <sup>INR</sup>
            </div> 
            <div class="price-info">per night</div>
          </div>
          <%= image_tag 'destinations/jaipur-medium.jpg', style: "max-height: 250px;width:100%;"  %>
          <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
            <h3 >Pink city Jaipur</h3>
            Explore love and tradition.
          </div>
          <div class="col-lg-4" style="padding:25px 10px 10px 10px;">
            See Properties 
          </div>
        </a>
      </div>

      <div class="col-lg-7" >
        <a href="/search/kullu<%= params[:aid] ? "/?aid=#{params[:aid]}" : ""  %>" style="float: inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
          <div class="price-box">
            <div class="price">
              <sup><i class="icon-inr"></i></sup>
              500.0
              <sup>INR</sup>
            </div> 
            <div class="price-info">per night</div>
          </div>
          <%= image_tag 'destinations/Kullu-medium.jpg', style: "max-height: 250px;width:100%;"  %>
          <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
            <h3 >Freeze in Kullu-Manali</h3>
            Romantic and astonishing place to be in.
          </div>
          <div class="col-lg-4" style="padding:25px 0px 25px 80px;">
            See Properties 
          </div>
        </a>
      </div>
    </div>

</div>  </div>
</div>
<% end %>
