<% content_for :body do %>
 <div style="background: #e3e3e3;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <li><%= link_to "Dashboard",dashboard_path %></li>
          <li><%= link_to "My Inbox", inquiries_path %></li>
          <li><%= link_to "My Listings", offers_path %></li>
          <li class="active"><%= link_to "My Trips", trips_path %></li>
          <li><%= link_to "Profile settings", edit_user_registration_path%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="container">
  <div class="row">
     <div class="col-sm-12">
      <div class="main" style="margin-top:0px;">
        <h2 class="text-center">My Trips</h2>
        <hr />
        <% @trips.each do |trip| %>
          <% booking = Booking.where(trip_id: trip.id).first  %>
          <% if !booking.nil? %>
          <% if booking.status == "success"  %>
          <div class="row" style="margin: 10px 0px;">
          <div class="col-lg-12 ">
            <div class="col-lg-2 thumbnail">
              <% offer = Offer.find(trip.offer_id) %>
              <% if offer.photos.exists?  %>
                <%if !offer.photos.first.nil? %>
                <%= image_tag offer.photos.first.image.url(:medium), class: "img-thumbnail", height:"150" %>
            <% end %>
            <% end %>
            </div>
            <div class="col-lg-7">
              <h2 class="text-center">
                <% if offer.translations.exists? %>
                  <% if !offer.translations.first.title.nil? %>
                  <%= offer.translations.first.title.titlecase %>
              <%else%>
                  Your New Offer(<%= offer.id %>)
              <% end %>
              <% end %></h2>
              <dl class="dl-horizontal">
                <dt>Arrival:</dt><dd> <%= trip.checkin.strftime("%B %d, %Y") if trip.checkin %></dd>
                <dt>Departure:</dt><dd> <%= trip.checkout.strftime("%B %d, %Y") if trip.checkout  %></dd>
              </dl> 
            </div>
            <div class="col-lg-3 text-right">
              <ul class="list-unstyled" style="padding-top:20px;">
                <li>
                <li><%= link_to  "View trip", trip_path(trip) %></li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
      <% end %>
      <% end %>
        <hr class="col-lg-12" />
        <% if @trips.count <= 0 %>
          <div style="text-align:center;">
          <hr>
          <h3>You currently don't have any Trips</h3>
          <hr>
        </div>
        <div class="row">
          <div class="container">
            <div class="col-lg-12 ">
              <%= form_tag "/search", :method => 'get', id: 'search_form', class: "form-inline" do %>
                <div class="form-group col-lg-5">
                <%= text_field_tag :destination, params[:search],required: "required", placeholder: "Where do you want to go?", class: "form-control required" %>
              </div>
              <div class="form-group col-lg-2">
                <%= text_field_tag :checkin, nil,required: "required",class: "form-control", placeholder: "Check in"%>
              </div>
              <div class="form-group col-lg-2">
                <%= text_field_tag :checkout, nil,class: "form-control", required: "required",placeholder: "Check out"%>
              </div>
              <div class="form-group col-lg-2">
                <%= text_field_tag :guests, nil,class: "form-control",required: "required", placeholder: "Guests" %>
              </div>
              <div class="form-group col-xs-2 col-sm-2 col-lg-1">
                <button type="submit" class="btn btn-large btn-danger"  value="search" name="commit"> 
                  <i class="icon icon-search"></i> Search
                </button>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
