<% content_for :body do %>
<div style="background: #e3e3e3;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <li><%= link_to "Dashboard",dashboard_path %></li>
          <li><%= link_to "My Inbox", inquiries_path %></li>
          <li><%= link_to "My Listings", offers_path %></li>
          <li><%= link_to "My Trips", trips_path %></li>
          <li class="active"><%= link_to "Profile settings", edit_user_registration_path%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="container">
  <div class="row">
      <div class="col-sm-12">
      <div class="main" style="margin-top:0px;">
        <h2 class="text-center">Profile Settings</h2>
        <hr class=" offer-hr">
        <div class="row">
 
            <%= simple_form_for(resource, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } },:as => resource_name, :url => registration_path(resource_name), :html => { :method => :put ,class: "form-horizontal"}) do |f| %>
              <%= f.error_notification %>

         <div class="col-lg-5 col-lg-offset-1">
            <div class="form-inputs">
              <%= f.input :email, :required => true, :autofocus => true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :firstname, :required => true  %> 
            <%= f.input :lastname, :required  => true  %>
            <%= f.input :phone, :as  => :string, :required  => true  %>
            <%= f.input :work_phone , :as  => :string %>
            <%= f.input :location  %>
            <%= f.input :about , :html => {:rows => '5'} %>
              <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
              <%= f.input :password_confirmation, :required => false %>
              <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>

              <%= f.input :age %>

                <%= f.input :occupation %>  

             <%= f.input :gender , 
          :as => :select, 
          :collection => {
            "Male" => "Male", 
            "Female" => "Female" }, 
            :include_blank => false %>
              
               <%= f.input :income , 
          :as => :select, 
          :collection => {
            "2lacs" => "200000", 
            "5lacs" => "500000",
            "10lacs" => "1000000",
            ">10lacs" => "1000001" }, 
            :include_blank => false %>
              

               <%= f.input :education , 
          :as => :select, 
          :collection => {
            "Educated" => "Educated", 
            "NOT-Educated" => "NOT-Educated" }, 
            :include_blank => false %>

                <%= f.input :family_status , 
          :as => :select, 
          :collection => {
            "Married" => "Married", 
            "NOT-Married" => "NOT-Married" }, 
            :include_blank => false %>
            </div>
         </div>
         <div class="col-lg-3 col-lg-offset-2">
             <%= image_tag resource.avatar.url(:medium) , :class  => "img-thumbnail" %>
         <%= f.input :avatar  %>
         </div>

         <hr>
         <div class="row">
           <div class="col-lg-6 col-lg-offset-1">
             <div class="form-actions">
              <%= f.button :submit, "Update" %>
            </div>
          <% end %>

          <div class= "form-group" align="center">
            <%= link_to "<< Back", :back %>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  <% end %>
