<% content_for :body do %>
<div class="container_24 ">
  <div class="grid_24 edit-offer-container">
    <div class="grid_5 alpha omega offer-side-menu-content">
      <ul>
        <li class="blank"></li>
        <li><%= link_to "Dashboard", offers_path %></li>
        <li ><%= link_to "My Listings", offers_path %></li>
        <li class="active"><%= link_to "Profile settings", edit_user_registration_path, :class =>"disabled" %></li>
      </ul>
    </div>

    <div class="grid_19 alpha omega offer-edit-main-content">
            <div class="grid_19">
        
        <div class="title"><h2>Profile settings</h2>

        </div>
        <hr class=" offer-hr">
        
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div><%= f.label :avatar %>
  <%= f.file_field :avatar %></div>
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", class: "btn btn-primary" %></div>
<% end %>

      </div>
    </div>
  </div>
</div>
<% end %>