<% content_for :body do %>
<style>
.tab-content{
  padding: 25px;
  background: #fff;
  border: 1px solid #ddd;
  border-top:none;
}
  </style>

  <div class="row">
  <div class="container">
    <div class="col-lg-4 col-lg-offset-4">
      <ul class="nav nav-tabs nav-justified" style="margin-top:20px;" id="getIn">
        <li class="active"><a href="#register">Sign Up</a></li>
        <li><a href="#login">Login</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="register">
          <%= simple_form_for(resource, :defaults => { :wrapper_html => {:class => 'form-group'} },:as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :firstname, :required => false, label: false, placeholder: 'First Name' ,:autofocus => true , :input_html => { :class => 'form-control' }%>
            <%= f.input :lastname, :required => false , label: false,:autofocus => true ,placeholder: 'Last Name', :input_html => { :class => 'form-control' }%>
            <%= f.input :email, :required => false , label: false, :autofocus => true , placeholder:'Email', :input_html => { :class => 'form-control' }%>
            <%= f.input :password, :required => false , label: false, placeholder: 'Password', :input_html => { :class => 'form-control' }%>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Create An Account", class: 'btn btn-success btn-block' %>
          </div>
        <% end %>
        </div>
        <div class="tab-pane " id="login">
          <%= simple_form_for(resource,:as => resource_name,defaults: {wrapper_html:{class: 'form-group'}}, :url => session_path(resource_name)) do |f| %>
            <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, :required => false,:input_html => {class: "form-control"},:label => false, :autofocus => true ,  placeholder: "Email"%>
            <%= f.input :password, :required => false ,:input_html => {class: "form-control"},:label => false, placeholder: "password"%>
            <%= f.input :remember_me, :as => :boolean , class: "checkbox.form-control" if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions"><%= f.button :submit, "Login", class: 'btn btn-success btn-block' %></div>
        <% end %>
        </div>
        <div class="text-center">Or..</div>
        <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook),class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% content_for :js do %>
  <script>
$('#getIn a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
</script>
<% end %>
