<% content_for :signup do %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :firstname  %>
  <%= f.input :lastname %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>
(Minimum 8 Characters reqd and don’t forget to make it stronger)
  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
(C’mon one more time)
  <div><%= f.submit "Sign up", class: "btn btn-default btn-medium" %></div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>