Greetings <%= @guest.complete_name  %>,

<% if @trip.host_accepted %>
  Your booking is confirmed by the Host

  The following are the details of the host and your booking.

<table>
  <tr>
    <td>Checkin Date</td>
    <td><%= @trip.checkin %></td>
  </tr>
  <tr>
    <td>Checkout Date</td>
    <td><%= @trip.checkout  %></td>
  </tr>
  <tr>
    <td>Host Name</td>
    <td><%= @host.complete_name %></td>
  </tr>
  <tr>
    <td>Host Phone</td>
    <td><%= @host.phone %>, <%= @offer.contact_phone %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @offer.full_street_address %></td>
  </tr>
   <tr>
    <td>Booking Total</td>
    <td><%= @booking.total %></td>
  </tr>
  <tr>
    <td>Service charge</td>
    <td><%= @booking.processing_fee %></td>
  </tr>
 <tr>
    <td>Cancellation Policy</td>
    <td><%= @offer.cancelation_policy %></td>
  </tr>
</table>
<% else %>
  Your booking was not accepted by the host. Your payment will be reverted within 2 working days.
<% end %>
