<%= f.fields_for(:translations) do |t| %>
<%= t.hidden_field :locale, :value => "en" %>
<div class="form-group">
<label class="string optional control-label" for="offer_translations_attributes_0_title">Title:</label>
<%= t.text_field :title, :value => t.object.title, :class=>"string optional form-control", :size =>"50", :style => " width: 450px " %>
</div>


<div class="form-group">
<label class="string optional control-label" for="offer_translations_attributes_0_description">Description:</label>
<%= t.text_area :description , :value => t.object.description, :class=>"string optional form-control", :size => 150, :style => " width: 450px " %>
</div>

<div class="form-group">
<label class="string optional control-label" for="offer_translations_attributes_0_rules">House Rules:</label>
<%= t.text_area :rules , :value => t.object.rules, :class=>"string optional form-control", :size => 150, :style => " width: 450px " %>
</div>
<% end %>
