<%= f.fields_for(:translations) do |t| %>
<%= t.hidden_field :locale, :value => "en" %>
<div class="control-group">
<label class="string optional control-label" for="offer_translations_attributes_0_title">Title:</label>
<div class="controls">
<%= t.text_field :title, :value => t.object.title, :class=>"string optional", :size =>"50", :style => " width: 450px " %>
</div>
</div>
(Keep it small and Attractive)

<div class="control-group">
<label class="string optional control-label" for="offer_translations_attributes_0_description">Description:</label>
<div class="controls">
<%= t.text_area :description , :value => t.object.description, :class=>"string optional", :size => 150, :style => " width: 450px " %>
</div>
</div>
(Precise and the exact details)
<div class="control-group">
<label class="string optional control-label" for="offer_translations_attributes_0_rules">House Rules:</label>
<div class="controls">
<%= t.text_area :rules , :value => t.object.rules, :class=>"string optional", :size => 150, :style => " width: 450px " %>
</div>
</div>
(Smoking/Drinking/Veg/Non-Veg/Parties/Music/Nature of your Neighbors)
<% end %>