<% content_for :body do %>
  <style>
.footer{
  display:none;
}
.map-container{
  position: fixed;
  width:40%;
  left:0;
  bottom:0;
  top:55px;
}
.listing-container{
  position: fixed;
  right:0;
  top:55px;
  bottom:0;
  width:60%;
  overflow-y:scroll;
  overflow-x:hidden;
}
#search_page{
  height:100%;
  border-right: 1px solid #ddd;
}
.thumbnail{
  padding: 0px;
  border-radius:0px;
}
.thumbnail .price-box{
  top: 11px;
  right:16px;
}
.thumbnail img{
  width:100%;
}
.thumbnail .caption .title {
  font-size: 14px;
  height: 23px;
}
</style>
<div class="container">
  <div class="row">
    <div class="map-container hidden-xs" style="">
      <div id="search_page" ></div>
    </div>
    <div class="listing-container">
      <div class="container">
        <div class="row">
          <% @offers.each do |offer|  %>
            <div class="col-md-6">
            <%= link_to offer_path(offer), class: "thumbnail" do  %>
              <div class="price-box">
              <div class="price">
                <sup><i class="icon-inr"></i></sup>
                <%= offer.nightly_rate_amount  %>
                <sup>INR</sup>
              </div>
              <div class="price-info">Per night</div>
            </div>
            <%= image_tag offer.photos.first.image.url(:searchimg), class: "img-responsive", alt: offer.translations.first.title.titlecase %>
            <div class="caption">
              <div class="title"><%= offer.translations.first.title.titlecase  %> </div>
              <div class="location"><%= offer.object_type.titlecase %></div>
              <div class="location"><%= offer.city.titlecase %></div>
            </div>
          <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% content_for :js do %>
  <script>
var mapStyle = [
  {
  "featureType": "water",
  "elementType": "all",
  "stylers": [
    {
    "hue": "#e9ebed"
  },
  {
    "saturation": -78
  },
  {
    "lightness": 67
  },
  {
    "visibility": "simplified"
  }
  ]
},
{
  "featureType": "landscape",
  "elementType": "all",
  "stylers": [
    {
    "hue": "#ffffff"
  },
  {
    "saturation": -100
  },
  {
    "lightness": 100
  },
  {
    "visibility": "simplified"
  }
  ]
},
{
  "featureType": "road",
  "elementType": "geometry",
  "stylers": [
    {
    "hue": "#bbc0c4"
  },
  {
    "saturation": -93
  },
  {
    "lightness": 31
  },
  {
    "visibility": "simplified"
  }
  ]
},
{
  "featureType": "poi",
  "elementType": "all",
  "stylers": [
    {
    "hue": "#ffffff"
  },
  {
    "saturation": -100
  },
  {
    "lightness": 100
  },
  {
    "visibility": "off"
  }
  ]
},
{
  "featureType": "road.local",
  "elementType": "geometry",
  "stylers": [
    {
    "hue": "#e9ebed"
  },
  {
    "saturation": -90
  },
  {
    "lightness": -8
  },
  {
    "visibility": "simplified"
  }
  ]
},
{
  "featureType": "transit",
  "elementType": "all",
  "stylers": [
    {
    "hue": "#e9ebed"
  },
  {
    "saturation": 10
  },
  {
    "lightness": 69
  },
  {
    "visibility": "on"
  }
  ]
},
{
  "featureType": "administrative.locality",
  "elementType": "all",
  "stylers": [
    {
    "hue": "#2c2e33"
  },
  {
    "saturation": 7
  },
  {
    "lightness": 19
  },
  {
    "visibility": "on"
  }
  ]
},
{
  "featureType": "road",
  "elementType": "labels",
  "stylers": [
    {
    "hue": "#bbc0c4"
  },
  {
    "saturation": -93
  },
  {
    "lightness": 31
  },
  {
    "visibility": "on"
  }
  ]
},
{
  "featureType": "road.arterial",
  "elementType": "labels",
  "stylers": [
    {
    "hue": "#bbc0c4"
  },
  {
    "saturation": -93
  },
  {
    "lightness": -2
  },
  {
    "visibility": "simplified"
  }
  ]
}
]
$(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {
    styles:    mapStyle
  }, internal: {id: 'search_page'}}, function(){
    markers = handler.addMarkers([
      <% @offers.tap do |*offers, last_offer| %>
        <% offers.each do |offer| %>
          {"lat":<%= offer.confidential_lat  %> , "lng": <%= offer.confidential_lng  %>, "name": "<%= offer.translations.first.title.titlecase  %>", 
            "infowindow": "<div><img src='<%= offer.photos.first.image.url(:medium) %>' width='230' height='150' /><div><div><%= offer.translations.first.title.titlecase  %> </div><div><%= offer.nightly_rate_amount  %></div></div></div>"
          },
        <% end %>
        {"lat": <%= last_offer.confidential_lat  %> , "lng": <%= last_offer.confidential_lng  %>, name: "<%= last_offer.translations.first.title.titlecase  %>", 
         "infowindow": "<a href='<%= offer_path(last_offer) %>' class='thumbnail'><div class='price-box'><div class='price'><sup><i class='icon-inr'></i></sup><%= last_offer.nightly_rate_amount  %><sup>INR</sup></div><div class='price-info'>Per night</div></div><img src='<%= last_offer.photos.first.image.url(:searchimg) %>' class='img-responsive'/><div class='caption'><div class='title'><%= last_offer.translations.first.title.humanize  %> </div><div class='location'><%= last_offer.object_type.titlecase %></div><div class='location'><%= last_offer.city.titlecase %></div></div></a>"
        }
      <% end %>
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
});
</script>
<% end %>
