<% content_for :body do %>
  <style>
.footer{
  display:none;
}
.map-container{
  position: fixed;
  width:40%;
  left:0;
  bottom:0;
  top:55px;
}
.listing-container{
  position: fixed;
  right:0;
  top:55px;
  bottom:0;
  width:60%;
  overflow-y:scroll;
  overflow-x:hidden;
}
#search_page{
  height:100%;
  border-right: 1px solid #ddd;
}
.thumbnail{
  padding: 0px;
  border-radius:0px;
}
.thumbnail .price-box{
  top: 11px;
  right:16px;
}
.thumbnail img{
  width:100%;
}
.thumbnail .caption .title {
  font-size: 14px;
  height: 23px;
}
</style>
<div class="container">
  <div class="row">
    <div class="map-container hidden-xs" style="">
      <div id="search_page" ></div>
    </div>
    <div class="listing-container">
      <div class="container">
        <div class="row">
          <% @offers.each do |offer|  %>
            <div data-offer-id="<%= offer.id  %>"
              data-lat="<%= offer.confidential_lat  %>"
              data-lng="<%= offer.confidential_lng %>"
              data-url="<%= offer_url(offer) %>"
              data-price="<%= offer.nightly_rate_amount %>"
              data-title="<%= offer.translations.first.title.titlecase %>"
              data-location="<%= offer.city.titlecase  %>"
              data-property-type="<%= offer.object_type.humanize.titlecase  %>"
              data-image="<%= offer.photos.first.image.url(:searchimg)  %>"
            class="listing col-md-6">
            <%= link_to offer_path(offer), class: "thumbnail" do  %>
              <div class="price-box">
              <div class="price">
                <sup><i class="icon-inr"></i></sup>
                <%= offer.nightly_rate_amount  %>
                <sup>INR</sup>
              </div>
              <div class="price-info">Per night</div>
            </div>
            <%= image_tag offer.photos.first.image.url(:searchimg), class: "img-responsive", alt: offer.translations.first.title.titlecase %>
            <div class="caption">
              <div class="title"><%= offer.translations.first.title.titlecase  %> </div>
              <div class="location"><%= offer.object_type.titlecase %></div>
              <div class="location"><%= offer.city.titlecase %></div>
            </div>
          <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
