<% content_for :logo do %> <% end %>
<% content_for :body do %>
<div class="container" style="width:100%" id="search">
  <div class="container">
    <div>
      <%= form_tag search_index_path , :method => 'get', id: "search_form" do %>
      <%= text_field_tag :destination, params[:search], :id => 'search_field', class: "search" , placeholder: "Enter Your Destination" %>
      <%= text_field_tag :checkin,nil, placeholder: "Check in", id: "check_in", class: "search"  %>
      <%= text_field_tag :checkout,nil, placeholder: "Check out", id: "check_out", class: "search" %>
      <%= text_field_tag :guests,nil, placeholder: "Guests", id: "guests", class: "search" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-danger btn-medium" %>
      <% end %>
    </div>
  </div>
</div>

<% if @offers.count > 0 %>
<div class="container bannerhead">
  <span class="span5">Search results for: <%= @offers.first.city %></span>
  <span class="span2"><%= @offers.count %> results</span>
</div>
<% @offers.each do |offer| %>
<div class="container content">
  <div class="row ">
    <% if offer.photos.exists? %>
    <% offer.photos.each do |photo| %>
    <%= image_tag photo.image.url(:medium), class: "span3 img-polaroid" %>
    <% end %>
    <% end %>
    <div class="span7">
      <% if offer.translations(locale: "en").exists? %>
      <% offer.translations.each do |t| %>
      <span class="title"><%= t.title.capitalize %></span>
      <% end %>
      <% end %>
      <section class="address">
        <%= offer.city %>, <%= offer.country_code_iso %>.<br/>
        <%= offer.object_type.capitalize %> (accomodates <%= offer.max_guest_count %>/<%= offer.bedroom_count %> bedrooms <% if !offer.size.nil? %>,<%= offer.size %> <%= offer.size_type %> <% end %>)
      </section>
    </div>
    <section class="rate span1">
      <span class="text">From </span>
      <span class="price"><%= offer.nightly_rate_amount %> </span>
      <span class="text"><br>per night.</span>
    </section>
    <div class="span7">
      <section class="description">
        <% if offer.translations.exists? %>
        <% offer.translations.each do |t|  %>
        <b>Description: </b> <%= t.description %>
        <% end %>
        <% end %>
      </section>
    </div>
    <div class="span1 seeoffer-button">
      <a href="#" id="offer" class="btn btn-info btn-small">See offer</a>
    </div>
  </div>
</div>
<% end %>
<% else %>
Sorry no results found for your query
<div style="height:500px;"></div>
<% end %>
<% end %>