<% content_for :body do %>
  <style>
.footer{
  display:none;
}
.map-container{
  position: fixed;
  width:40%;
  left:0;
  bottom:0;
  top:55px;
}
.listing-container{
  position: fixed;
  right:0;
  top:55px;
  bottom:0;
  width:60%;
  overflow-y:scroll;
  overflow-x:hidden;
}
#search_page{
  height:100%;
  border-right: 1px solid #ddd;
}
.thumbnail{
  padding: 0px;
  border-radius:0px;
}
.thumbnail .price-box{
  top: 11px;
  right:16px;
}
.thumbnail img{
  width:100%;
}
.thumbnail .caption .title {
  font-size: 14px;
  height: 23px;
}
</style>


<div class="container">
  <div class="row">
    <div class="map-container hidden-xs" style="">
      <div id="search_page" ></div>
    </div>



    <div class="listing-container">
      <div class="container">




<div class="col-md-12">

  <head>
      <meta charset="utf-8">
      <title>jQuery UI Slider functionality</title>
     
   </head>

   
   <body>
      <!-- HTML --> <form accept-charset="UTF-8" action="/search" class="form-horizontal" id="search_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="0bdc/Sub9vPzNNaynOutkfrTyrnrtk5mu+uHuTkmyic="></div>
          <div class="form-group">
          <div class="col-sm-12"><label for="geolocation">Destination</label></div>
          <div class="col-sm-12">
            <input autocomplete="on" autofocus="autofocus" class="required form-control" id="geolocation" name="destination"  required="required" type="search" value="<%= params[:destination]%>"  ></div>
        </div>




        <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <input class="form-control hasDatepicker" id="checkin" name="checkin" placeholder="Check in" type="text">
              <span class="input-group-addon"><i class="icon icon-calendar"></i></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <input class="form-control hasDatepicker" id="checkout" name="checkout" placeholder="Check out" type="text">
              <span class="input-group-addon"><i class="icon icon-calendar"></i></span>
            </div>
          </div>
        </div>




        <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">

              <select class="form-control" id="max_guest_count" name="max_guest_count" >
                
<option value="0"> Select Guest Count</option>
<option value="1">1 Guest</option>
<option value="2">2 Guests</option>
<option value="3">3 Guests</option>
<option value="4">4 Guests</option>
<option value="5">5 Guests</option>
<option value="6">6 Guests</option>
<option value="7">7 Guests</option>
<option value="8">8 Guests</option>
<option value="9">9 Guests</option>
<option value="10">10 Guests</option>
<option value="11">11 Guests</option>
<option value="12">12 Guests</option>
<option value="13">13 Guests</option>
<option value="14">14 Guests</option>
<option value="15">15 Guests</option>
<option value="16">16+ Guests</option>
</select>
              <span class="input-group-addon"><i class="icon icon-group"></i></span>
            </div>
          </div>





          <div class="col-xs-6">
            <div class="input-group">
              <select class="form-control" id="bedrooms" name="bedrooms">
<option value="0"> Bedroom Count</option>
<option value="1">1 Bedroom</option>
<option value="2">2 Bedrooms</option>
<option value="3">3 Bedrooms</option>
<option value="4">4 Bedrooms</option>
<option value="5">5 Bedrooms</option>
<option value="6">6 Bedrooms</option></select>
              <span class="input-group-addon"><i class="icon icon-room"></i></span>
            </div>
          </div>
        </div>





          <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <select class="form-control" id="bed_count" name="bed_count">

<option value="0">Select Bed Count</option>
<option value="1">1 bed Count</option>
<option value="2">2 bed Count</option>
<option value="3">3 bed Count</option>
<option value="4">4 bed Count</option>
<option value="5">5 bed Count</option>
<option value="6">6 bed Count</option>
<option value="7">7 bed Count</option>
<option value="8">8 bed Count</option>
<option value="9">9 bed Count</option>
<option value="10">10 bed Count</option>
<option value="11">11 bed Count</option>
<option value="12">12 bed Count</option>
<option value="13">13 bed Count</option>
<option value="14">14 bed Count</option>
<option value="15">15 bed Count</option>
<option value="16">16+ bed Count</option>
</select>
<span class="input-group-addon"><i class="icon icon-room"></i></span>
              
            </div>
          </div>
      



        
          <div class="col-xs-6">
            <div class="input-group">
              <select class="form-control" id="bed_type" name="bed_type">
<option value="">Select Bed Type</option>                
<option value="real_bed">Real Bed</option>
<option value="airbed">Air Bed</option>
<option value="futon">Futon</option>
<option value="pull_out">Pull-Out</option>
<option value="couch">Couch</option>

</select>
<span class="input-group-addon"><i class="icon icon-room"></i></span>
              
            </div>
          </div>
        </div>





          <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <select class="form-control" id="filter" name="search_sort">
<option value="recommended">Recommended!</option>
<option value="nightly_rate_amount_asc">Prices-increasing</option>
</select>
              <span class="input-group-addon"><i class="icon icon-group"></i></span>
            </div>
          </div>


          </div>

<hr>


<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" name="amenities[breakfast]" value="true"> Breakfast
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" name="amenities[air_conditioning]" value="true"> Air conditioning
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" name = "amenities[smoking_allowed]" value="true"> Smoking Allowed
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox4" name = "amenities[cable_tv]" value="true"> Cable tv
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox5" name = "amenities[internet]" value="true"> Internet
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox6" name = "amenities[kitchen]" value="true"> Kitchen
</label>



<hr>
           







<label for="price">Price range:</label>
         <input type="text" id="price_min" name="price_min" data-min= "<%= @price_min%>" 
            style="border:1; color:#00000F; font-weight:bold;"> <b>-</b>
            <input type="text" id="price_max" name="price_max"  data-max= "<%= @price_max%>"
            style="border:1; color:#00000F; font-weight:bold;">
         <div class="row">
      <div  id="slider-3"></div>
   </div>

<hr>

<%= paginate @offers ,:param_name => :page %>
<%= link_to_next_page @offers, 'Next Page' %>


        <div class="form-group">
          <div class="col-sm-12">
            <input type="submit" class="form-control btn btn-primary" value="Search">
          </div>
        </div>

</form>
     
     
</div>
         



        <div class="row">
          <% unless @offers.nil? %>
            <% @offers.each do |offer|  %>
            <div data-offer-id="<%= offer.id  %>"
            data-lat="<%= offer.confidential_lat  %>"
            data-lng="<%= offer.confidential_lng %>"
            data-url="<%= offer_url(offer) %>"
            data-price="<%= offer.nightly_rate_amount %>"                    
            data-title="<%= offer.translations.first.title.titlecase %>"
            data-location="<%= offer.city.titlecase  %>"
            data-property-type="<%= offer.object_type.humanize.titlecase  %>"
            data-image="<%= offer.photos.first.image.url(:searchimg)  %>"
            class="listing col-md-6">
            <%= link_to offer_path(offer), class: "thumbnail" do  %>
              <div class="price-box">
              <div class="price">
                <sup><i class="icon-inr"></i></sup>
                <%= offer.nightly_rate_amount  %>
                <sup>INR</sup>
              </div>
              <div class="price-info">Per night</div>
            </div>
            <%= image_tag offer.photos.first.image.url(:searchimg), class: "img-responsive", alt: offer.translations.first.title.titlecase %>
            <div class="caption">
              <div class="title"><%= offer.translations.first.title.titlecase  %> </div>
              <div class="location"><%= offer.object_type.titlecase %></div>
              <div class="location"><%= offer.city.titlecase %></div>
            </div>
          <% end %>
          </div>
        <% end %>
        <% else %>
            <p>There isn't any place available for your search criteria. </p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>




<!--Slider-->
<% content_for :js do%>

 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <!-- Javascript -->
      <script>
         $(function() {
          minimum = $('#price_min').data('min');
           maximum = $('#price_max').data('max');
            $( "#slider-3" ).slider({
               range:true,
               min: parseInt(minimum),
               max: parseInt(maximum),
               values: [ minimum, maximum ],
               slide: function( event, ui ) {
                  $( "#price_min" ).val(  ui.values[ 0 ] );
                  $( "#price_max" ).val(  ui.values[ 1 ] );
               }
           });
           $( "#price_min" ).val(  $( "#slider-3" ).slider( "values", 0   ));
           $( "#price_max" ).val(  $( "#slider-3" ).slider( "values", 1  ));
         });

      </script>



<% end%>