<% content_for :body do %>
  <div class="row">
  <div class="container main">
  <%
    @trip = Trip.find(@booking.trip_id)
    @offer = Offer.find(@trip.offer_id)
    @guest = User.find(@trip.guest_id)
    @host = User.find(@trip.host_id)
  %>
<div class="row">
  <div class="container">
  <h2>Your Room n House Stay at a glance</h2>
  <div class="col-lg-2 ">
    <%= image_tag @offer.photos.first.image.url(:medium), class: "thumbnail"  %>
  </div>
  <div class="col-lg-7">
  <h4><%= @offer.translations.first.title.titlecase%></h4>
  <dl class="dl-horizontal">
  <dt>Arrival:</dt><dd> <%= @trip.checkin.strftime("%B %d, %Y")  %></dd>
  <dt>Departure:</dt><dd> <%= @trip.checkout.strftime("%B %d, %Y")  %></dd>
  <dt>Location:</dt><dd> <%= @offer.city.titlecase  %>, <%= Country.where(code: @offer.country_code_iso).first.name.titlecase  %></dd>
  <dt>Guests:</dt><dd> <%= @trip.guest_count  %></dd>
  <dt>Room Type:</dt><dd> <%= @offer.object_type.humanize  %></dd>
  </dl>
  </div>
  <div class="col-lg-2 pull-right">
  <%= image_tag @host.avatar.url(:medium), class: "img-thumbnail"  %>
  <h4 class="text-center">Host: <%= @host.firstname.titlecase %></h4>
  </div>
  </div>
</div>
  <div class="row" style="padding:20px 0px;">
    <div class="container">
      <table class="table table-bordered">
        <tr>
          <td><strong>Total Price </strong></td>
          <td><%= @trip.checkin.strftime("%B %d, %Y")  %> - <%= @trip.checkout.strftime("%B %d, %Y")  %></td>
          <td><i class="icon-rupee"></i><strong><%= @booking.total - @booking.processing_fee - @booking.service_tax  %></strong></td>
        </tr>
        <tr>
          <td><strong>Service charge</strong></td>
          <td></td>
          <td><i class="icon-rupee"></i><strong><%= @booking.processing_fee + @booking.service_tax  %></strong></td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td>Your booking becomes binding once the host has accepted your request (within 24 hours).<br />
            Cancellation policy: <%= @offer.cancelation_policy.titlecase  %>
          </td>
          <td><i class="icon-rupee"></i><strong><%= @booking.total %></strong></td>
        </tr>
      </table>
      <div class="row">
        <div class="container">
          <h2>Personal Information</h2>
          <dl class="dl-horizontal">
            <dt><strong>First Name</strong></dt><dd> <%= @guest.firstname  %></dd>
          <dt><strong>Last Name</strong></dt><dd> <%= @guest.lastname  %></dd>
          <dt><strong>Email</strong></dt><dd> <%= @guest.email  %></dd>
          <dt><strong>Phone</strong></dt><dd> <%= @guest.phone  %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>


    <% payment_service_for @booking.id, $payu_merchant_id,
      :amount => @booking.total,
      :service => :payu_in,
      :html => { :id => 'payment-form' } do |service| %>
          <% service.auto_settle :prod => @offer.id.to_s + 'For ',
      :price => @offer.nightly_rate_amount,
      :name => @offer.translations(locale: 'en').first.title,
      :description => "Booking #{@offer.id.to_s} form #{@trip.checkin} to #{@trip.checkout} at #{@offer.nightly_rate_amount}"%>

    <% service.credential2 @offer.object_type %>  
      <% service.customer :first_name => current_user.firstname,
        :last_name => current_user.lastname,
        :phone => current_user.phone,
        :email => current_user.email %>
      <% service.return_url 'http://roomnhouse.com/bookings/payu_return' %>      

        <input type=submit value=" Pay for your Order ">
      <% end %>
      </div>
    </div>  
  <% end %>
