<%= simple_form_for(@flood, :html => { :class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :email %>
    <%= f.input :accommodates , :as => :string%>
    <%= f.input :phone , as: :string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "Confirm" %>
    <%= link_to 'Back', root_path %>
  </div>
<% end %>
