<% content_for :body do %>
<div class="container">
	<div class="" style="margin: 20px auto;">
		<table class="table table-striped table-bordered">
			<thead>
				<caption>List of all available places to stay</caption>
				<tr>
				<td>#</td>
				<td>Name</td>
				<td>City</td>
				<td>Address</td>
				<td>Accommodation</td>
				<td>Phone</td>
			</tr>
			</thead>
			<tbody>
				<% @offers.each do |offer| %>
				<% host = User.find(offer.user_id) %>
				<tr>
					<td><%= offer.id %></td>
					<td><%= host.firstname.humanize %> <%= host.lastname.humanize %></td>
					<td><%= offer.city.humanize %></td>
					<td><%= offer.street_no %> <%= offer.street %> <%= offer.address_addon %>. Zip: <%= offer.zip %></td>
					<td><%= offer.max_guest_count %></td>
					<td><%= offer.contact_phone %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% end %>