<% content_for :header do %>
  <div id="container header_home">  
  <div class="content_inner home_width">
    <div class="home_slider_image"></div>
    <div class="home_slider_cover"></div>
    <div class="home_container">
      <div class="top_bar">
        <div class="content_inner">
          <nav>
            <%= link_to "Room n House", root_path, class: "logo float-left" %>
            <a style="pointer-events:none;color:white;">Help line: 9022-543210</a>
            <%= link_to "List Your Place", new_offer_path, class: "button paddall-5"  %>
            <% if !current_user.present? %>
              <%= link_to "Login", new_user_session_path  %>
            <%= link_to "Signup", new_user_registration_path  %>
          <% else %>
              <div id="dd" class="wrapper-dropdown " tabindex="1">
              <i class="icon-user icon-container"></i><%= current_user.firstname %>
            <ul class="dropdown">
                <li><%= link_to "<i class='icon-container-small icon-list'></i>My Listings".html_safe, offers_path %></li>
                <li><%= link_to "<i class='icon-container-small icon-cog'></i>Account Settings".html_safe, edit_user_registration_path %></li>
                <li><%= link_to "<i class='icon-container-small icon-off'></i>logout".html_safe, destroy_user_session_path %></li>
              </ul>
            </div>
          <% end %>
          </nav>
        </div>
      </div>
      <h1 class="title">Travel Easy. Stay Easier</h1>
      <%= form_tag "/search", :method => 'get', class: "home_inputs", id: 'search_form' do %>
        <div class="home_search">
        <h4><a href="http://roomnhouse.com/search?utf8=✓&destination=Pune%2C+Maharashtra%2C+India&checkin=&checkout=&guests=1">Pune</a> 
          . <a href="http://roomnhouse.com/search?utf8=✓&destination=Mumbai%2C+Maharashtra%2C+India&checkin=&checkout=&guests=1">Mumbai</a>
          . <a href="http://roomnhouse.com/search?utf8=%E2%9C%93&destination=Delhi%2C+India&checkin=&checkout=&guests=1">Delhi</a>
          . <a href="http://roomnhouse.com/search?utf8=%E2%9C%93&destination=Goa%2C+India&checkin=&checkout=&guests=1">Goa</a></h4>
        <%= search_field_tag :destination, params[:search],style: "width:550px;",autofocus: true, placeholder: "Where do you want to go?", autocomplete: false, required: "required", id: "geolocation", class: "required", onClick: "show_inputs()" %>
      </div>
      <div class="home_search_add_inputs">
        <%= text_field_tag :checkin, nil, placeholder: "Check in"%>
        <%= text_field_tag :checkout, nil, placeholder: "Check out"%>
        <%= select_tag :guests, 
          options_for_select(
            [
              ["1 Guest",1],
              ["2 Guests",2],
              ["3 Guests",3],
              ["4 Guests",4],
              ["5 Guests",5],
              ["6 guests",6],
              ["7 Guests",7],
              ["8 Guests",8],
              ["9 Guests",9],
              ["10 Guests",10],
              ["11 Guests",11],
              ["12 Guests",12],
              ["13 Guests",13],
              ["14 Guests",14],
              ["15 Guests",15],
              ["16+ Guests",16]]) %>
          </div>
            <div class="home_search_search"><input type="submit" value="Search" /></div>
          <% end %>
          </div>
        </div><!-- end of class="content_inner" -->
      </div><!-- end of id="header" -->
    <% end %>
      <% content_for :body do %>
        <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
            <div class="list-group">
              <h3 class="list-group-item">Popular Destinations</h3>
              <a class="list-group-item" href="http://roomnhouse.com/search?destination=mumbai">Mumbai</a>
              <a class="list-group-item" href="http://roomnhouse.com/search?destination=delhi">Delhi</a>
              <a class="list-group-item" href="http://roomnhouse.com/search?destination=goa">Goa</a>
              <a class="list-group-item" href="http://roomnhouse.com/search?destination=pune">Pune</a>
              <a class="list-group-item" href="http://roomnhouse.com/search?destination=banglore">Banglore</a>
              <a class="list-group-item" href="http://roomnhouse.com/search?destination=lonavala">Lonavala</a>
            </div>
          </div>
          <div class="col-lg-9 col-md-8">
            <h3>Popular Apartments</h3>
            <div class="row">
              <% @offers.each do |offer| %>
                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                <%= link_to offer, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= offer.nightly_rate_amount  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per night</div>
                  </div>
                </div>
                <%= image_tag offer.photos.first.image.url(:medium), class: "offer-image" %>
                <div class="caption">
                  <div class="title"><%= offer.translations.first.title.titlecase %></div>
                  <div class="location"><%= offer.city.titlecase %></div>
                </div>
              <% end %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    <% content_for :js do %>
      <script>
$(function() {
  $( "#checkin" ).datepicker({
    minDate:"0",
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      $( "#checkout" ).datepicker( "option","minDate",selectedDate );
    }
  });
  $( "#checkout" ).datepicker({
    minDate:"0",
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      $( "#checkin" ).datepicker( "option", "maxDate", selectedDate );
    }
  });
});
$("#geolocation").geocomplete();
    </script>
  <% end %>
