<% content_for :header do %>
	<div id="header_home">  
    	<div class="content_inner home_width">
            <div class="home_slider_image"></div>
            <div class="home_slider_cover"></div>
        	<div class="home_container">
            	<div class="top_bar">
                	<div class="content_inner">
                    	<nav>
                            <a class="logo float-left" href="#"></a>

            <% if !current_user.present? %>
              <%= link_to "Login", new_user_session_path  %>
            <%= link_to "Signup", new_user_registration_path  %>
          <% else %>
            <div id="dd" class="wrapper-dropdown-5" tabindex="1"><%= current_user.firstname %>
                <ul class="dropdown">
                    <li><%= link_to "My Listings", offers_path %></li>
                    <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                    <li><%= link_to "logout", destroy_user_session_path %></li>
                </ul>
              </div>
          <% end %>

                            <a href="" class="button paddall-5">List your place</a>
                        </nav>
                    </div>
                </div>
               	<h1 class="title">Travel Easy. Stay Easier</h1>

      <%= form_tag "/search", :method => 'get', class: "home_inputs", id: 'search_form' do %>
        <div class="home_search">
        <%= text_field_tag :destination, params[:search],style: "width:550px;", placeholder: "Where do you want to go?", autocomplete: false, required: "required", id: "geolocation", class: "required" %>
      </div>
      <div class="home_search_add_inputs">
        <%= text_field_tag :checkin, nil, required: "required", placeholder: "Check in"%>
        <%= text_field_tag :checkout, nil, required: "required",placeholder: "Check out"%>
        <%= text_field_tag :guests, nil, required: "required",placeholder: "Guests" %>
      </div>
      <div class="home_search_search"><input type="submit" value="Search...!" /></div>
    <% end %>
            </div>
        </div><!-- end of class="content_inner" -->
    </div><!-- end of id="header" -->
<% end %>
<% content_for :body do %>
  <div id="content">
  <div class="content_inner">

    <div class="content_container">
      <div class="colm colm2 float-left align-center">
        <h2>We know what matters most.</h2>
        <p>Accomodation for every budget, in india.</p>
        <img src="assets/img_home.png"/>
      </div>
      <div class="colm colm2 float-left align-left">
        <iframe width="560" height="315" src="//www.youtube.com/embed/BVoMf0VA6Fc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>


    <div class="content_container white_bg">
      <div class="colm colm2 float-left align-right br">
        <h2>Discover Your Stay</h2>
        <p>Find a space that meets all your needs.</p>
        <ul class="naked bold big">
          <li>Find a place to stay any where in india. <i class="icon-search icon-large icon-container"></i></li>
          <li>Accomodation for every budget. <i class="icon-usd icon-large icon-container"></i></li>
          <li>Request a quote for free. <i class="icon-quote-right icon-large icon-container"></i></li>
          <li>Seamless payments. <i class="icon-credit-card icon-large icon-container"></i></li>
        </ul>
        <a href="" class="button"><i class="icon-search icon-large icon-container-small"></i> Find a Venue</a>
      </div>
      <div class="colm colm2 float-left align-left">
        <h2>List Your Space</h2>
        <p>Start getting better bookings today.</p>
        <ul class="naked bold big">
          <li><i class="icon-container icon-large icon-thumbs-up-alt"></i>100% free to list</li>
          <li><i class="icon-container icon-large icon-smile"></i>Obligation-free</li>
          <li><i class="icon-container icon-large icon-credit-card"></i>Receive payments seamlessly</li>
          <li><i class="icon-container icon-large icon-time"></i>Signing up is quick &amp; easy</li>
        </ul>
        <a href="" class="button"><i class="icon-list icon-large icon-container-small"></i> List Now</a>
      </div>
    </div>
  </div><!-- end of class="content_inner" -->    
</div><!-- end of id="content" -->

</div>
<% end %>
<% content_for :js do %>
<script>
$(function() {
  $( "#checkin" ).datepicker({
    minDate:"0",
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      $( "#checkout" ).datepicker( "option","minDate",selectedDate );
    }
  });
  $( "#checkout" ).datepicker({
    minDate:"0",
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      $( "#checkin" ).datepicker( "option", "maxDate", selectedDate );
    }
  });
});
$("#geolocation").geocomplete();
</script>
<% end %>
