<% content_for :header do %>
<div class="search-container">
  <div class="title" style="height:100px"></div>
  <div class="flood-callout" style="text-align:center;color:#ecf0f1">
<div>
    <h2 style="font-size:2.5em;
font-weight: 700;
text-shadow: 0px 0px 10px #2c3e50;">Help the Flood Victims</h2>
    <%= link_to "Provide Shelter To Flood Victims <i class='icon-heart icon-white'></i> ".html_safe, new_flood_path,  class: "btn btn-large btn-danger" %>
    <%= link_to "Are You A Flood Victim?",floods_path,  class: "btn btn-large" %>
    </div>
  </div>
  <div class="search">
    <%= form_tag "/search", :method => 'get', id: 'search_form' do %>
    <%= text_field_tag :location, nil, placeholder: "Where do you want to go?", style: "width: 250px;margin-left: 5px;" %>
    <%= text_field_tag :time, nil, placeholder: "Check in" %>
    <%= text_field_tag :time, nil, placeholder: "Check out" %>
    <%= text_field_tag :guests, nil, placeholder: "Guests" %>
    <%= submit_tag :search, class: "btn btn-danger btn-large" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="" style="margin: 20px auto;min-height:700px">
    <table class="table table-striped table-bordered">
      <thead>
        <caption>List of all available places to stay</caption>
        <tr>
        <td>Name</td>
        <td>City</td>
        <td>Address</td>
        <td>Accommodation</td>
        <td>Phone</td>
      </tr>
      </thead>
      <tbody>

        <% @floods.each do |flood| %>
  <tr>
    <td><%= flood.firstname %> <%= flood.lastname %></td>
    <td><%= flood.city %></td>
    <td><%= flood.address %></td>
    <td><%= flood.accommodates %></td>
    <td><%= flood.phone %></td> </tr>
<% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>