<% content_for :header do %>
  <style>
.thumbnail{
  padding: 0px;
  border-radius:0px;
}
.thumbnail .price-box{
  top: 11px;
  right:16px;
}
.thumbnail img{
  width:100%;
}
.thumbnail .caption .title {
  font-size: 14px;
  height: 44px;
}
</style>
<div class="home-search-bar-holder">
  <div class="container">
    <div class="row ">
      <div class="col-sm-6 hidden-sm hidden-xs">
        <h1 class="title">Travel Easy. Stay Easier</h1>
      </div>
      <div class="col-sm-6 col-lg-4 col-sm-offset-6 col-md-6 col-md-offset-0 col-lg-offset-1 home-search-bar">
        <h2 class="home-sub-title"><i class="icon-search"></i> Search for private properties in India.</h2>
        <%= form_tag '/search', :method => 'Post', class: "form-horizontal", id: 'search_form' do %>
          <div class="form-group">
          <div class="col-sm-12"><label for="geolocation">Destination</label></div>
          <div class="col-sm-12">
            <%= search_field_tag :destination, params[:search],autofocus: true, placeholder: "Where do you want to go?", autocomplete: "off", required: "required", id: "geolocation", class: "required form-control" %></div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <%= text_field_tag :checkin, nil,class: "form-control", placeholder: "Check in"%>
              <span class="input-group-addon"><i class="icon icon-calendar"></i></span>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="input-group">
              <%= text_field_tag :checkout, nil,class: "form-control", placeholder: "Check out"%>
              <span class="input-group-addon"><i class="icon icon-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-6">
            <div class="input-group">
              <%= select_tag :guests, options_for_select([["1 Guest",1], ["2 Guests",2], ["3 Guests",3], ["4 Guests",4], ["5 Guests",5],["6 Guests",6], ["7 Guests",7], ["8 Guests",8], ["9 Guests",9],["10 Guests",10], ["11 Guests",11], ["12 Guests",12],["13 Guests",13],["14 Guests",14],["15 Guests",15],["16+ Guests",16]]), class: "form-control" %>
              <span class="input-group-addon"><i class="icon icon-group"></i></span>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <%= select_tag :bedrooms, options_for_select([["1 Bedroom",1], ["2 Bedrooms",2], ["3 Bedrooms",3], ["4 Bedrooms",4], ["5 Bedrooms",5],["6 Bedrooms",6]]), class: "form-control" %>
              <span class="input-group-addon"><i class="icon icon-room"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="submit" class="form-control btn btn-primary" value="Search" />
          </div>
        </div>

      <% end %>
      </div><!-- end of class="row" -->
    </div><!-- end of class="row" -->
  </div><!-- end of class="row" -->
</div><!-- end of class="container" -->
<% end %>
<% content_for :body do %>
  <div class="container">
  <div class="row">
    <div class="row" style="height:30px;"></div>
    <div class="col-lg-12">
      <% if session[:recently_viewed_offers] %>
        <h3>Recently Booked on Roomnhouse</h3>
      <div class="row">
        <% @offers.each do |offer| %>
          <div class="col-lg-3 col-sm-4 col-xs-6">
          <%= link_to offer, class: "thumbnail" do %>
            <div>
            <div class="price-box">
              <div class="price">
                <sup><i class="icon-inr"></i></sup>
                <%= offer.nightly_rate_amount  %>
                <sup>INR</sup>
              </div>
              <div class="price-info">per night</div>
            </div>
          </div>
          <%= image_tag offer.photos.first.image.url(:medium), class: "offer-image img-responsive" %>
          <div class="caption">
            <div class="title"><%= offer.translations.first.title.titlecase %></div>
            <div class="location"><%= offer.object_type.titlecase %></div>
            <div class="location"><%= offer.city.titlecase %></div>
          </div>
        <% end %>
        </div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row" style="height:30px;"></div>
  <style  media="all">
.popular-destinations .price-box{
  color: #fff;
  text-align: right;
  position: absolute;
  top: 0;
  right: 16px;
  padding: 5px;
  background-color: #212121;
  opacity: 0.8;
}

.popular-destinations .price-box .price{
  font-size: 20px;
  font-weight: 100;
}
  </style>
  <div class="popular-destinations row">
    <div class="col-lg-7" >
      <a href="/search/varanasi" style="float: inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
        <div class="price-box">
          <div class="price">
            <sup><i class="icon-inr"></i></sup>
            250.0
            <sup>INR</sup>
          </div> 
          <div class="price-info">per night</div>
        </div>
        <%= image_tag 'destinations/varanasi-large.jpg', style: "max-height: 250px;width:100%;"  %>
        <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
          <h3 >Discover Varanasi</h3>
          Dwell into Spirituality at the city of Gods
        </div>
        <div class="col-lg-4" style="padding:25px 0px 25px 80px;">
          See Properties 
        </div>
      </a>
    </div>

    <div class="col-lg-5" >
      <a href="/search/bangalore"  style="float:inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
        <div class="price-box">
          <div class="price">
            <sup><i class="icon-inr"></i></sup>
            600.0
            <sup>INR</sup>
          </div> 
          <div class="price-info">per night</div>
        </div>
        <%= image_tag 'destinations/bangalore-medium.jpg', style: "max-height: 250px;width:100%;"  %>
        <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
          <h3 >Explore Bangalore</h3>
          Look around and see alot
        </div>
        <div class="col-lg-4" style="padding:25px 10px 10px 10px;">
          See Properties 
        </div>
      </a>
    </div>

  </div>
  <div class="row" style="height:30px;"></div>
  <div class="popular-destinations row">
    <div class="col-lg-5" >
      <a href="/search/jaipur"  style="float:inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
        <div class="price-box">
          <div class="price">
            <sup><i class="icon-inr"></i></sup>
            700.0
            <sup>INR</sup>
          </div> 
          <div class="price-info">per night</div>
        </div>
        <%= image_tag 'destinations/jaipur-medium.jpg', style: "max-height: 250px;width:100%;"  %>
        <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
          <h3 >Pink city Jaipur</h3>
          Explore love and tradition.
        </div>
        <div class="col-lg-4" style="padding:25px 10px 10px 10px;">
          See Properties 
        </div>
      </a>
    </div>

    <div class="col-lg-7" >
      <a href="/search/kullu" style="float: inherit;background: #fff;border: 1px solid #ddd; padding:0px;">
        <div class="price-box">
          <div class="price">
            <sup><i class="icon-inr"></i></sup>
            500.0
            <sup>INR</sup>
          </div> 
          <div class="price-info">per night</div>
        </div>
        <%= image_tag 'destinations/Kullu-medium.jpg', style: "max-height: 250px;width:100%;"  %>
        <div class="col-lg-8" style="padding:10px; padding-left: 20px;">
          <h3 >Freeze in Kullu-Manali</h3>
          Romantic and astonishing place to be in.
        </div>
        <div class="col-lg-4" style="padding:25px 0px 25px 80px;">
          See Properties 
        </div>
      </a>
    </div>
  </div>

</div>
<div class="row" style="background:#fff; padding: 10px;margin:0px; padding-left:50px; margin-top: 30px;/*margin-bottom:-50px;*/ ">
  <div class="col-lg-6 col-sm-12" style="padding-left:15px;">
    <h4 style="font-weight:bold; font-size:24px;color:#111; padding-bottom:20px; padding-top:30px;">Why Roomnhouse?</h4>
    <style >
.why_rnh { padding:10px; padding-left:0px;}
.why_rnh h5 { font-weight:bold; font-size: 16px; color: #111;}
.popular_destinations li {
  padding : 7px;
  font-size: 16px;
}
    </style>
    <div class="why_rnh">
      <h5><i class="icon-ok"></i> Trusted Online Bookings.</h5>
      <p>Book securely from verified hosts.
      <br />
      <a href="/users/sign_up">Sign up today for your free account.</a>
      </p>
    </div>
    <div class="why_rnh">
      <h5><i class="icon-ok"></i> 24/7 Cutomer Support.</h5>
      <p>No more worries, we are the for you always.</p>
    </div>
    <div class="why_rnh">
      <h5><i class="icon-ok"></i> Manage Your Properties Easily.</h5>
      <p>Handle your propeties in easy, simple and fast manner.
      <br />
      <a href="/offers/new">List your property now.</a>
      </p>
    </div>

  </div>
  <div class="col-lg-6 hidden-sm hidden-xs">
    <h4 style="font-weight:bold; font-size:24px;color:#111; padding-bottom:30px;padding-left:15px; padding-top:30px;"> Popular Destinations</h4>
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs ">
      <ul class="popular_destinations">
        <li> <a href="http://roomnhouse.com/search/kullu">Kullu, Himachal</a></li>
        <li> <a  href="http://roomnhouse.com/search/manali">Manali, Himachal</a></li>
        <li> <a  href="http://roomnhouse.com/search/jaipur">Jaipur, Rajasthan</a></li>
        <li> <a  href="http://roomnhouse.com/search/lonavala">Lonavala, Maharashtra</a></li>
        <li><a  href="http://roomnhouse.com/search/hyderabad">Hyderabad, Andhra Pradesh</a></li>
        <li><a  href="http://roomnhouse.com/search/bangalore">Bangalore, Karnataka</a></li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
      <ul class="popular_destinations">
        <li> <a  href="http://roomnhouse.com/search/mumbai">Mumbai, Maharashtra</a></li>
        <li><a  href="http://roomnhouse.com/search/delhi">Delhi, India</a></li>
        <li><a  href="http://roomnhouse.com/search/goa">Goa, India</a></li>
        <li><a  href="http://roomnhouse.com/search/pune">Pune, Maharashtra</a></li>
        <li> <a  href="http://roomnhouse.com/search/srinagar">Srinagar</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div class="row" style="background: #fff; margin:0px; padding-top: 30px; padding-bottom:40px;border-top:1px solid #ccc;margin-bottom:-50px;">
<div class="col-lg-6">
      <h5 style="text-align:center; font-size:16px; font-weight: bold; color: #111;padding-bottom:15px;">As Seen On</h5>
      <%= image_tag "pr/YourStory_Media-Logo.png", alt: "Trusted and verisigned transactions", height: '48'  %>
      <%= image_tag "pr/livemint_logo.png", alt: "Trusted and verisigned transactions", height: '48'  %>
      <%= image_tag "pr/NextBigWhat-logo.png", alt: "Trusted and verisigned transactions", height: '28'  %>
    </div>

    <div class="col-lg-6">
      <h5 style="text-align:center; font-size:16px; font-weight: bold; color: #111; padding-bottom: 15px;">Secured Transactions</h5>
      <%= image_tag "fotter_strip.jpg", alt: "Trusted and verisigned transactions"  %>
    </div>
  </div>
</div>
  </div>
</div>
<% end %>
<% content_for :js do %>
  <script>
$(function() {
    $( "#checkin" ).datepicker({
minDate:"0",
defaultDate: "+1w",
changeMonth: true,
numberOfMonths: 1,
onClose: function( selectedDate ) {
$( "#checkout" ).datepicker( "option","minDate",selectedDate );
}
});
    $( "#checkout" ).datepicker({
minDate:"0",
defaultDate: "+1w",
changeMonth: true,
numberOfMonths: 1,
onClose: function( selectedDate ) {
$( "#checkin" ).datepicker( "option", "maxDate", selectedDate );
}
});
    });
$("#geolocation").geocomplete();
</script>
<% end %>
