<% content_for :header do %>
<div class="search-container">
  <div class="title" style="height:200px">Travellers accommodation, simplified.</div>
  <div class="search">
    <%= form_tag "/search", :method => 'get', id: 'search_form' do %>
    <%= text_field_tag :location, nil, placeholder: "Where do you want to go?", style: "width: 250px;margin-left: 5px;" %>
    <%= text_field_tag :time, nil, placeholder: "Check in" %>
    <%= text_field_tag :time, nil, placeholder: "Check out" %>
    <%= text_field_tag :guests, nil, placeholder: "Guests" %>
    <%= submit_tag :search, class: "btn btn-danger btn-large" %>
    <% end %>
  </div>
</div>
<% end %>
<% content_for :body do %>
<div class="listing-container">
  <div class="list-title">Latest Listings On RoomnHouse.</div>
  <div class="listings">
    <% @offers.each do |offer| %>
        <div class="item">
          <div class="image-container">
            <%= link_to offer_path(offer) do %>
            <% if offer.photos.exists? %>
              <% if !offer.photos.first.nil? %>
                <%= image_tag offer.photos.first.image.url(:homeimage)%>
              <% end %>
            <% end %>
          <% end %>
          </div>
          <div class="price"><span class="rs"><%= offer.nightly_rate_amount %></span><br/><span><%= offer.currency %>/night</span></div>
          <% if offer.translations.exists? %>
            <% if !offer.translations.first.title.nil? %>
              <div class="name"><%= truncate(offer.translations.first.title.titlecase, length: 30, separator: ' ') %></div>
            <% end %>
          <% else %>
            <div class="name">Offer (<%= offer.id %>).</div>
          <% end %>
          <div class="info"><%= offer.object_type.humanize %> &#8208; <%= offer.address_addon %></div>
        </div>
      
    <% end %>
  </div>
</div>
<% end %>

<% content_for :seo do %>
<div class="container_24">
  <div class="grid_24">
    <ul class="nav nav-tabs" id="myTab">
      <li><a href="#know" data-toggle="tab">Know about RnH</a></li>
      <li><a href="#experience" data-toggle="tab">RnH Experience</a></li>
      <li><a href="#whyhost" data-toggle="tab">Why Host</a></li>
      <li><a href="#whytravel" data-toggle="tab">Why travel with us</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="know">
        <h4>RoomNHouse simply revolutionizes your travel experience.</h4>
            <p>Whether you want to sunbathe on the beaches of our favorite vacation spot Goa, take a house boat ride along the back waters of Munnar or just check out the Parliamentary house at Delhi, RoomNHouse can help you to experience the best our country has to offer. You can find stunning yet affordable serviced apartments for your next holiday using RoomNHouse. Your host will be able to tell you about the best things to see and do in their city so that you can experience a location from the perspective of a local. Looking for a place that is at a hop skip and jump distance from your place of interest? No matter where you want to go, how long you want to stay and how much you want to spend, RoomNHouse can help you plan your next voyage!</p>
            <p>Whether you want a garage to park your new car in the messy lanes of Mumbai, a place to spend the night with your loved ones, a penthouse to throw your birthday party, RoomNHouse offers accommodation for every type and every budget. We are sure that you’ll discover your desired location with our listings.</p>
            <p>Maybe it’s just like a hotel...but it’s definitely a better and memorable experience.</p>
            <p>Choosing a RoomNHouse holiday apartment over a hotel means that you’ll enjoy more space, more privacy and better value for money, all whilst staying in a unique property in the destination of your choice! RoomNHouse allows you to book your holiday apartment directly with the owner and experience life from a local’s perspective, offering you an authentic way to travel.</p>
            <p>You feel more connected with the place when you travel with RoomNHouse. It’s like making friends everywhere you travel and sharing your experiences with the locals. We believe that the more people you meet, the better travelling experiences and stories you carry!</p>
            <p>It’s all easy! You don’t have to search and compare at different places to find a destination or an accommodation that matches your need! Type in your destination, choose from the wide range of available options and interact personally with your host. And if there’s anything else that’s troubling you, our 24x7 customer care helpline is always there for you!</p>
            <p>RoomNHouse also offers family accommodations. There’s no stress of fitting the entire family in one small hotel room and paying extra for every mattress and blanket that you take! Choose spacious rooms and apartments available on RoomNHouse and live comfortably without any discomfort and off course with your family.</p>
            <p>So, turn your private empty space into a holiday rental and make some extra money from the extra space that you own!</p>
            <p>RoomNHouse also makes it easy to rent out your spare room or empty apartment or your basement or your garage or your couch and boost your income! It’s simple and free to list your place, and you’ll earn money whilst meeting new people from all over the world. Fund your next trip away, pay your bills or simply save for a rainy day - it’s an easy way to earn a few extra bucks without stressing out of a boss sitting on top and demanding things from you.</p>
            <p>Don’t hesitate, meet new people, increase your bank balance, meet new people, help a few and be a part of our ever increasing community! Join RoomNhouse, today!</p>
      </div>
      <div class="tab-pane" id="experience">
        <h4>RoomNhouse Experience</h4>
        <p>Apartments and Rentals on Daily basis with RoomNHouse, where we simply your traveling experience.</p>
        <p>Are you a traveler and traveling is your passion? No matter where you need to go, and how long you want to stay, RoomNHouse is here to help you find your perfect vacation rental. Be it a sea facing apartment, a house boat in the back waters or palaces in Jaipur, RoomNHouse is here to take the stress out of finding your ideal accommodation. With thousands of accommodation options worldwide, there will always be something to suit all tastes and budgets, from a beautiful cottage in the mountains of Manali to a trendy studio apartment in Bandra. By booking with RoomNhouse, one not only secures their perfect accommodation but also gets to explore and connect with different cities in a new and exciting way, breaking free of the tourism bubble.</p>
        <p>It’s simple. Rent out your vacation destinations from private owners.</p>
        <p>It doesn’t depend where your travels and business meetings are taking you. It can be the busiest lanes of Delhi or a clustered place in Mumbai, RoomNHouse helps you find the perfect accommodation at a perfectly cheap price. It’s a cheaper alternative to expensive hotels, quotes the entire team. Our plan is to simply your traveling experience and make you feel homely without burning a big hole in your pocket. Also Check out our how it works page for useful resource for both traveler and hosts.</p>
        <p>Whatever are your needs, don’t stress out; RoomNHouse is here to help! So if you are planning your next trip or you’re looking for an accommodation to fit in your un-invited guests, find easy rentals on RoomNHouse TODAY!</p>
      </div>
      <div class="tab-pane" id="whyhost">
        <h4>Everyone wants to be a Host with RoomNHouse</h4>
        <p>If you get to earn something effortlessly, will you leave this opportunity that’s already waiting on your door? No, right? Then sign up today for Free with RoomNHouse and your listing will be published and made visible by a worldwide audience.</p>
      </div>
      <div class="tab-pane" id="whytravel">
        <h4>Why Travel with RoomNhouse? No, seriously?</h4>
        <p>The answer is easy. Here are some reasons that will surely set us apart.</p>
        <p>Varied choice of properties. Cities, Towns, Lanes, Sectors, we cover everything!</p>
        <p>Choose from city apartments and studios, to lake side cottages and beachside villas, all on RoomNHouse. </p>
        <p>You can benefit from the experiences of other users by reading reviews they have left about hosts and properties. Compare and make your own decisions.</p>
        <p>Way too cheaper than hotels. Cheap hotels don’t have a homely and well furnished feeling, but we offer everything that you crave for at an affordable rate.</p>
        <p>Find breath-taking and desired accommodations in the most awesome-st locations, at affordable prices. Apartments are fully equipped, and are on average 40% cheaper than hotel rooms of a similar standard!</p>
        <p>Quality-checked. Our photographers will post the actual image of the site. We don’t believe in playing with your expectations.</p>
        <p>No surprises - all accommodation on RoomNHouse has been checked by our service team before appearing on our website. Properties are also rated by guests after their stay, ensuring that the information on our site is accurate and up to date. You can wear a blind fold and trust us.</p>
        <p>Free customer service. We are always there for you! You can call on +91-9022-543-201 and our service executive will be there for your service!</p>
        <p>If any problems occur during the booking process or during your stay, you can contact our customer service team on +91-9022-543-201, or use the contact form on our homepage.</p>
        <p>It’s simple, right?</p>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for:js do %>
<script>
$('#myTab a:first').tab('show'); // Select first tab
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});
</script>
<% end %>