<% content_for :header do %>
<div class="header-main" style="background: url(<%= image_path("main-header-background.jpg") %>)">
	<div class="container">
		<div class="row">
			<header class="brandbar">
				<div class="span4 logo">Roomnhouse</div>
				<div class="span4">
					<div class="claim">Where Travelers Stay</div>
				</div>
			</header>
		</div>
	</div>
</div>

<div class="searchbar" style="background: #60a3d9; color:black;">
  <div class="container_24">
      <div class="grid_24">
      <%= form_tag search_index_path , :method => 'get', id: "search_form" do %>
        <%= text_field_tag :destination, params[:search], :id => 'search_field', class: "search grid_9" , placeholder: "Enter Your Destination" %>
        <%= text_field_tag :checkin,nil, placeholder: "Check in", id: "check_in", class: "search grid_3"  %>
        <%= text_field_tag :checkout,nil, placeholder: "Check out", id: "check_out", class: "search grid_3" %>
        <%= text_field_tag :guests,nil, placeholder: "Guests", id: "guests", class: "search grid_3" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-danger btn-large grid_3", style: "margin-top: 15px;" %>
        <%#<%= link_to_function "Clear", "$('search_field').clear()" %>
      <% end %>
      </div>
    </div>
</div>


      <div class="container_24 " >
        <h3>Latest Listings On Roomnhouse</h3>
        <ul class="thumbnails latest-listings-bar">
          <% @offers.each do |offer| %>
          <%= link_to offer_path(offer) do %>
              <li class="grid_4 home-thumbs">
                <div class="thumbnail">
                  <% if offer.photos.exists? %>
            <% if !offer.photos.first.nil? %>
                  <%= image_tag offer.photos.first.image.url(:thumb)%>

            <% end %>
          <% end %>
                  <% if offer.translations.exists? %>
                  <% if !offer.translations.first.title.nil? %>
                  <h3><%= offer.translations.first.title.titlecase %></h3> 
                  <% end %>
                  <% else %>
                  <h3>Offer (<%= offer.id %>).</h3>
                  <% end %>
                  <p><%= offer.address_addon %></p>
                  
                </div>
              </li>
              <% end %>
          <% end %>
        </ul>
      </div>

<% end %>