<div class="listing-container">
  <div class="list-title">Latest Listings On RoomnHouse.</div>
  <div class="listings">
    <% @offers.each do |offer| %>
      
        <div class="item">
          
          <div class="image-container">
            <%= link_to offer_path(offer) do %>
            <% if offer.photos.exists? %>
              <% if !offer.photos.first.nil? %>
                <%= image_tag offer.photos.first.image.url(:homeimage)%>
              <% end %>
            <% end %>
          <% end %>
          </div>
          <div class="price"><span class="rs"><%= offer.nightly_rate_amount %></span><br/><span><%= offer.currency %>/night</span></div>
          <% if offer.translations.exists? %>
            <% if !offer.translations.first.title.nil? %>
              <div class="name"><%= truncate(offer.translations.first.title.titlecase, length: 30, separator: ' ') %></div>
            <% end %>
          <% else %>
            <div class="name">Offer (<%= offer.id %>).</div>
          <% end %>
          <div class="info"><%= offer.object_type.humanize %> &#8208; <%= offer.address_addon %></div>
        </div>
      
    <% end %>
  </div>
</div>