<% content_for :body do %>
<div class="container">
  <div class="row">
  <div class="col-sm-12">
<%= simple_form_for(@offer, wrapper: :bootstrap3, url: admin_user_offer_path, method: 'put') do |f| %>
<%= f.input :email, as: :email %>
<%= f.input :contact_phone, as: :string, hint: "Contact Phone no. is required" %>
<%= f.input :contact_phone_backup, as: :string, label: "Alternate Phone no." %>
<%= f.hidden_field :user_id, value: params[:user_id] %>
    <%= f.input :street_no , :as => :string, :label => "House no.",  hint: "street_no. addition is mandatory"%>
    <%= f.input :street , :as => :string ,  hint: "address line is necessary!"%>
    <%= f.input :address_addon , :as => :string, :label => "Address line 2"%>
    <%= f.input :city , :as => :string%>
    <%= f.input :zip , :as => :string%>
    <%= f.input :country_code_iso, :as => :select, :collection => Hash[Country.all.map{|c| [c.name,c.code]}], :include_blank => false, :label => "Country" %>

    <%= f.input :currency , :as => :select, :collection => {"INR: &#x20B9;".html_safe => "INR","USD: US &#36;".html_safe => "USD","EUR: &#8364;".html_safe => "EUR"}, :include_blank => false %>
    <%= f.input :nightly_rate_amount , :as => :string, :label => "Nightly Rate"%>
    (Affordable and something that matches your services.)
    <%= f.input :weekly_rate_amount , :as => :string, :label => "Weekly Rate"%>
    (Do the Math)
    <%= f.input :monthly_rate_amount , :as => :string, :label => "Monthly Rate"%>
    (You know what you want)

    <hr class="offer-hr">
    <h3>Additional Charges</h3>
    <%= f.input :extra_guest_charge_amount , :as => :string, :label => "Fee for extra guests"%>
    <%= f.input :included_guest_count , :as => :select, :collection =>{"1 Guest" => 1, "2 Guests" => 2,"3 Guests" => 3, "4 Guests" => 4,
                                                                       "5 Guests" => 5, "6 Guests" => 6, "7 Guests" => 7, "8 Guests" => 8,
                                                                       "9 Guests" => 9, "10 Guests" => 10, "11 Guests" => 11, "12 Guests" => 12,
                                                                       "13 Guests" => 13, "14 Guests" => 14, "15 Guests" => 15, "16 Guests" => 16,
                                                                       "17 Guests" => 17, "18 Guests" => 18, "19 Guests" => 19, "20 Guests" => 20,
                                                                       "30 Guests" => 30}, include_blank: false, :label => "for each guest after"%>
    <%= f.input :service_charge_amount , :as => :string, :label => "Cleaning fee"%>
    (Only if you provide a maid/cleaner)

    <hr class="offer-hr">
    <h3>Terms &amp; Conditions</h3>
    <%= f.input :cancelation_policy , :as => :select, :collection => {"Flexible" => "flexible", "Moderate" => "moderate", "Strict" => "strict"}, :include_blank => false, :label => "Cancellation Policy"%>
    <%= f.input :min_nights , :as => :select, include_blank: false, :collection => {"Flexible" => 0, "1 Day" => 1, "2 Days" => 2, "3 Days" => 3,
                                                              "4 Days" => 4, "5 Days" => 5, "6 Days" => 6, "1 Week" => 7,
                                                              "10 Days" => 10, "2 Weeks" => 14, "15 Days" => 15,
                                                              "20 Days" => 20, "3 Weeks" => 21, "1 Month" => 30, "2 Months" => 60,
                                                              "3 Months" => 90}, :label => "Minimum Stay"%>
    <%= f.input :max_nights , :as => :select, include_blank: false, :collection => {"Flexible" => 0, "1 Day" => 1, "2 Days" => 2, "3 Days" => 3,
                                                              "4 Days" => 4, "5 Days" => 5, "6 Days" => 6, "1 Week" => 7,
                                                              "10 Days" => 10, "2 Weeks" => 14, "15 Days" => 15,
                                                              "20 Days" => 20, "3 Weeks" => 21, "1 Month" => 30, "2 Months" => 60,
                                                              "3 Months" => 90}, :label => "Maximum nights"%>
    <%= f.input :checkin_after , :as => :select, include_blank: false, :collection => {"Flexible" => 0, "1 AM" => 1, "2 AM" => 2, "3 AM" => 3,
                                                              "4 AM" => 4, "5 AM" => 5, "6 AM" => 6, "7 AM" => 7,
                                                              "8 AM" => 8, "9 AM" => 9, "10 AM" => 10, "11 AM" => 11,
                                                              "12 Noon" => 12, "1 PM" => 13, "2 PM" => 14, "3 PM" => 15,
                                                              "4 PM" => 16, "5 PM" => 17, "6 PM" => 18, "7 PM" => 19,
                                                              "8 PM" => 20, "9 PM" => 21, "10 PM" => 22, "11 PM" => 23,
                                                              "12 O' Clock" => 24},:label => "Check-in after"%>
    <%= f.input :checkout_before , :as => :select, include_blank: false, :collection => {"Flexible" => 0, "1 AM" => 1, "2 AM" => 2, "3 AM" => 3,
                                                              "4 AM" => 4, "5 AM" => 5, "6 AM" => 6, "7 AM" => 7,
                                                              "8 AM" => 8, "9 AM" => 9, "10 AM" => 10, "11 AM" => 11,
                                                              "12 Noon" => 12, "1 PM" => 13, "2 PM" => 14, "3 PM" => 15,
                                                              "4 PM" => 16, "5 PM" => 17, "6 PM" => 18, "7 PM" => 19,
                                                              "8 PM" => 20, "9 PM" => 21, "10 PM" => 22, "11 PM" => 23,
                                                              "12 O' Clock" => 24}, :label => "Check-out before"%>


<%= f.input :object_type,
as: :select,
collection: {
  "Service Apartment" => "service_apartment",
  "Shared Room"=>"shared_room",
  "Holiday home" => "house",
  "Apartment" => "apartment",
  "Private room" => "private_room",
  "Chalet or cabin" => "cabin",
  "Villa" => "villa",
  "Castle" => "castle",
  "Farmhouse" => "farmhouse",
  "Treehouse" => "treehouse",
  "Boat" => "boat",
  "Car" => "automobile"},
  :label => "Property Type",
  :include_blank => false %>

<%= f.input :size ,:as => :string%>

  <%= f.input :size_type ,
  :as => :select,
  :collection => {
    "Square meter" => "square_meter",
    "Square feet" => "square_feet"},
    :include_blank => false %>

    <%= f.input :bathroom_count , :as => :select, label: "Bathrooms", :collection =>(1..10), :include_blank =>false %>

    <%= f.input :max_guest_count ,
    :as => :select,
    :collection =>(1..30),
    :label => "Accommodates",
    :include_blank => false %>

    <%= f.input :bed_count ,
    :as => :select,
    :collection =>(1..30),
    :label => "Beds"%>

    <%= f.input :bedroom_count ,
    :as => :select,
    :collection =>(1..10),
    :label => "Bedrooms",
    :include_blank => false%>

    <%= f.input :bed_type ,
    :as => :select,
    :collection => {
      "Real Bed" => "real_bed",
      "Airbed" => "airbed",
      "Futon" => "futon",
      "Pull-Out" => "pull_out",
      "Couch" => "couch"},
      :include_blank => false %>

      <%= f.input :visiblity, as: :boolean, hint: "Keep it unchecked if you want it to be hidden." %>

<%= f.simple_fields_for :amenity do |t| %>
<%= t.input :breakfast , as: :boolean%>
<%= t.input :air_conditioning , as: :boolean%>
<%= t.input :baby_cot , as: :boolean%>
<%= t.input :cable_tv , as: :boolean%>
<%= t.input :doorman , as: :boolean%>
<%= t.input :dryer , as: :boolean%>
<%= t.input :elevator_in_building , as: :boolean%>
<%= t.input :kids_friendly , as: :boolean%>
<%= t.input :wireless_internet , as: :boolean%>
<%= t.input :free_parking_on_premise , as: :boolean%>
<%= t.input :gym , as: :boolean%>
<%= t.input :handicap_accessible , as: :boolean%>
<%= t.input :heating , as: :boolean%>
<%= t.input :hot_tub , as: :boolean%>
<%= t.input :indoor_fireplace , as: :boolean%>
<%= t.input :intercom , as: :boolean%>
<%= t.input :internet , as: :boolean%>
<%= t.input :kitchen , as: :boolean%>
<%= t.input :lockable_room , as: :boolean%>
<%= t.input :pets_allowed , as: :boolean%>
<%= t.input :pool , as: :boolean%>
<%= t.input :sauna , as: :boolean%>
<%= t.input :smoking_allowed , as: :boolean%>
<%= t.input :suitable_for_events , as: :boolean%>
<%= t.input :towels , as: :boolean%>
<%= t.input :tv , as: :boolean%>
<%= t.input :washer , as: :boolean%>
<% end %>
<%= f.fields_for(:translations) do |t| %>
<%= t.hidden_field :locale, :value => "en" %>
<div class="form-group">
<label class="string optional control-label" for="offer_translations_attributes_0_title">Title:</label>
<%= t.text_field :title, :value => t.object.title, :class=>"string optional form-control", :size =>"50"%>
</div>
<div class="form-group">
<label class="string optional control-label" for="offer_translations_attributes_0_description">Description:</label>
<%= t.text_area :description , :value => t.object.description, :class=>"string optional form-control", :size => 150%>
</div>
<div class="form-group">
<label class="string optional control-label" for="offer_translations_attributes_0_rules">House Rules:</label>
<%= t.text_area :rules , :value => t.object.rules, :class=>"string optional form-control", :size => 150 %>
</div>
<% end %>
      <div class="control-group">
        <div class="controls">
          <%= f.button :submit, :value => "Save", :class => 'btn-primary'%>
        </div>
      </div>
  </div>
  </div>
</div>
      <% end %>
      <% end %>

