<% content_for :body do %>
  <div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ul class="list-group">
        <%= link_to "Dashboard", offers_path, class: "list-group-item" %>
        <%= link_to "My Listings", offers_path, class: "list-group-item active" %>
        <%= link_to "Profile settings", edit_user_registration_path, class: "list-group-item" %>
      </ul>
    </div>

    <div class="col-lg-9">
      <div class="main" style="margin-top:0px;">
        <div class="row">
          <div class="col-lg-4">
            <% if @offer.photos.exists?  %>
              <%if !@offer.photos.first.nil? %>
              <%= image_tag @offer.photos.first.image.url(:medium) , class: "img-polaroid",style: "height:100px;width:150px" %>
          <% end %>
          <% end %>
          </div>
          <div class="col-lg-6">
            <h3>Your new listing (<%= @offer.id %>)</h3>
          </div>
          <div class="col-lg-2 "style="text-align:right;"><%= link_to "View listing", offer_path(@offer) %></div>
        </div>

        <ul class="nav nav-pills nav-justified">
          <li ><%= link_to "Overview", overview_offer_path(@offer) %></li>
          <li ><%= link_to "Title & Description", edit_offer_translations_path %></li>
          <li ><%= link_to "Details", edit_offer_details_path %></li>
          <li ><%= link_to "Address", edit_offer_addresses_path %></li>
          <li ><%= link_to "Photos", offer_photos_path %></li>
          <li ><%= link_to "Pricing & Terms", edit_offer_pricing_path %></li>
          <li class="active"><%= link_to "Calendar", edit_offer_calendar_path %></li>
        </ul>
        <h2 class="text-center">Calendar</h2>
        <hr class=" offer-hr">
        <div class="row">
          <div id="calendar">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <% content_for :js do %>
    <% javascript_tag do  %>
    var updateEvent;

  $(document).ready(function() {
  return $('#calendar').fullCalendar({
  editable: true,
  header: {
  left: 'prev',
  center: 'title',
  right: 'next'
  },
  defaultView: 'month',
  height: 500,
  selectable: true,
  viewDisplay   : function(view) {
  var now = new Date(); 
  var end = new Date();
  end.setMonth(now.getMonth() + 11); //Adjust as needed

  var cal_date_string = view.start.getMonth()+'/'+view.start.getFullYear();
  var cur_date_string = now.getMonth()+'/'+now.getFullYear();
  var end_date_string = end.getMonth()+'/'+end.getFullYear();

  if(cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
  else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

  if(end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
  else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }
  },
  selectHelper: true,
  select: function(start, end, allDay) {
  var price = prompt('Enter price');
  var availability = true;
  if(price){
  $.ajax( {
  data:{'start':start,'end':end,'availability':availability, 'pricing':price},
  type: 'POST',
  url:'/offers/<%= @offer.id  %>/calendar',
  success: function(){
  },
  error: function(response){
  }
  });}
//  $('#calendar').fullCalendar('renderEvent',
//  {
 // title: price,
//  start: start,
//  end: start,
//  allDay: allDay
//  }
//  );
  $('#calendar').fullCalendar('unselect');
  },
  eventSources: [
  {
  url: '/offers/<%= @offer.id  %>/calendar'
  }
  ],
  timeFormat: 'h:mm t{ - h:mm t} ',
  dragOpacity: "0.5",
  eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
  return updateEvent(event);
  },
  eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
  return updateEvent(event);
  }
  });
  });

  updateEvent = function(the_event) {
  return $.update("/offers/ <%= @offer.id  %>/calendar/" + the_event.id, {
  event: {
  pricing: the_event.title,
  starts_at: "" + the_event.start,
  ends_at: "" + the_event.end,
  avaiability: the_event.description
  }
  });
  };
<% end %>
<% end  %>
