<% content_for :body do %>
  <div class="container">
  <div class="row">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="text-center">Location of Your Property</h3>
          <h4 class="text-center">Proper address help us locate you property efficiently, so there is less hassle</h4>
        </div>
        <div class="panel-body">
          <%= simple_form_for(@offer, :wrapper => :bootstrap3_horizontal, :as => :offer, :html => { :class => 'form-horizontal'}, :url => offer_wizard_step_path(@offer.id, params[:id])) do |f| %>
  <%= f.error_messages %>
    <%= f.input :street_no ,required: true, :as => :string, :label => "Room Name/ no./ Floor no.", placeholder: "ex Gayatri Niwas, or 3/10"%>
    <%= f.input :street , :as => :string, required: true,:label => "Address Line 1", placeholder: "ex: building name, street name,etc."%>
    <%= f.input :address_addon , :as => :string,required: true, :label => "Address line 2", placeholder: "ex: locality, nearby landmarks"%>
    <%= f.input :city , :as => :string,required: true, placeholder: "ex: Mumbai"%>
    <%= f.input :country_code_iso, :as => :select,required: true, :collection => Hash[Country.all.map{|c| [c.name,c.code]}], :include_blank => false, :label => "Country" %>
    <%= f.button :submit, 'Continue', :class => 'btn-primary'%>
<% end %>
</div>
</div>
</div>
<div class="col-sm-3">
      <%= render "help/why_list_sidebar"  %>
      </div>

</div>
</div>
<% end %>
