<% content_for :body do %>
  <div id="content">
  <div class="content_inner">
    <div class="content_container paddall-5">
      <h1>How It Work</h1>
      <p>Find out how the system functions for different users.</p>
    </div>
    <div class="content_container paddall-10" > 
      <div style="z-index:1;text-align:center;margin:auto;">
        <iframe width="500" height="350" src="//www.youtube.com/embed/BVoMf0VA6Fc?rel=0&wmode=transparent" wmode="Opaque" frameborder="0" allowfullscreen></iframe>
        </div>
      <div class="works">
        <div class="choice" id="ch">
          <div class="ch1 current" onClick="navigate_tabs('.ch1')"><h3>Be Our Guest</h3></div>
          <div class="ch2" onClick="navigate_tabs('.ch2')"><h3>Become a Host</h3></div>
        </div>
        <div class="choice_desc white_bg">
          <div class="ch1_desc">
            <h1>Be A Guest</h1>
            <p>Whether you want to stay in a small apartment facing the sea in Mumbai, a roof top shack in Goa, a houseboat in the picturesque backwaters of Kerala, or a palace in Jaipur, Room n House has the perfect place for you.</p>
            <p>Choose from Properties at your desired Destination.</p>
            <div class="beourguest"> </div>
          </div>
          <div class="ch2_desc hidden">
            <h1>Be a Host</h1>
            <p>Do you feel that every time you step out of your house, you waste a large amount of the rent by not utilizing it? Don't feel guilty now. Utilize the maximum out of your living space by listing it on Room n House.</p>
            <p>Thousands of people are already listing their private places on Room n House, why not be a part of the ever increasing community? </p>
            <p>List your empty apartment, your extra room, or a simple and comfortable couch that's lying in the corner of your living room and earn money while you sleep!</p>
            <p>Sounds fun? Try Room n House Today.</p>
            <div class="beahost"> </div>
          </div>
        </div>
      </div>
      <div class="callaction">
        <%= link_to "List your space Now", new_offer_path, class: "button"  %>
        <p>Today's solutions are complicated, difficult to manage.</p>
        <p>Room n house is simple, beautiful and just for you.</p>
      </div>
      <div class="content_container paddall-5 align-center white_bg">
        <h2>Advantages of hosting with Room n House</h2>
        <div class="desc">
          <ul>
            <li>
            <div class="img_holder"><%= image_tag "pics/icons/profile.png"%></div>
            <p>User Profile</p>
            </li>
            <li>
            <div class="img_holder"><%= image_tag "pics/icons/onlinetrans.png"%></div>
            <p>Online transactions</p>
            </li>
            <li>
            <div class="img_holder"><%= image_tag "pics/icons/support.png"%></div>
            <p>Customer support</p>
            </li> 
            <li>
            <div class="img_holder"><%= image_tag "pics/icons/photo.png"%></div>
            <p>Free Photography</p>
            </li>
            <li>
            <div class="img_holder"><%= image_tag "pics/icons/paymentopt.png"%></div>
            <p>Payment Options</p>
            </li>
            <li>
            <div class="img_holder"><%= image_tag "pics/icons/confirm.png"%></div>
            <p>Accept/Decline</p>
            </li> 
            <li>
            <div class="img_holder"><%= image_tag "pics/icons/email.png"%></div>
            <p>E-Mail Alerts</p>
            </li>
          </ul>
        </div>
      </div>
    </div>				
  </div>
</div>
  </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="content" -->
<% end %>
