<% content_for :body do %>
<div class="container">
  <div class="row main">
    <div class="span12">
      
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, style: "display:inline-block;margin: 2px 0px 0px 5px;" %>
    </div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "btn btn-default btn-medium", style: "margin-top: 8px;" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
    </div>
</div>
<% end %>
