<% content_for :body do  %>
  <div id="content">
  <div class="content_inner">
    <div class="login">
      <div class="holder">
        <div class="login_form_holder white_bg">
          <div id="alert">Please login with your Username and Password.</div>
          <form class="form-horizontal" action="login.php" method="post">
 <%= simple_form_for(resource,:as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.input :email, :required => false, :autofocus => true ,  placeholder: "Email"%>
        <%= f.input :password, :required => false ,placeholder: "password"%>
        <%= f.input :remember_me, :as => :boolean , class: "checkbox" if devise_mapping.rememberable? %>
      <div class="form-actions">
        <%= f.button :submit, "login" %>
      </div>
    <% end %>
          <%= render "devise/shared/links" %>
          </form>
        </div><!--End of class="login_form_holder" -->              
      </div>
    </div>
  </div><!-- end of class="content_inner" -->    
</div><!-- end of id="content" -->
    </div>
  </div>
</div>
<% end %>
