<%= simple_form_for(@package_booking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.hidden_field :unit_count, value: @unit_count %>
    <%= f.hidden_field :package_id, value: @package_id %>
    <%= f.hidden_field :guest_count, value: @guest_count %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
