            <%= simple_form_for(:package_booking, url: '/package_bookings/', class: "form-horizontal", method: 'post', remote: true) do |f|  %>
              <div class="form-group">
              <label for="" class="col-sm-4">Name: </label>
              <div class="col-sm-8">
                <%= f.input_field :name, class: "form-control disabled"%>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-4">Email</label>
              <div class="col-sm-8">
                <%= f.input_field :email, class: "form-control disabled"%>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-4">Phone</label>
              <div class="col-sm-8">
                <%= f.input_field :phone, class: "form-control disabled"%>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-4">No. of guest</label>
              <div class="col-sm-8">
                <%= f.input_field :guest_count, as: :select, collection: (@package.pax_count..@package.max_guest),include_blank: false, class: "form-control disabled", value: @package.max_guest%>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-4">No. of packages</label>
              <div class="col-sm-8">
                <%= f.input_field :unit_count , as: :select,collection: (1..@package.unit_count),  class: "form-control disabled", value: "1" , include_blank: false %>
              </div>
            </div>
            <%= f.hidden_field :package_id, value: @package.id  %>

          <% end  %> 


<div id="payment">
          <% payment_service_for @package_booking.id*2000, $payu_merchant_id,
            :amount => @package_booking.total,
            :service => :payu_in,
            :html => { :id => 'payment-form' } do |service| %>
            <% service.auto_settle :prod => @package.id.to_s + 'For ',
              :price => @package.package_rate,
              :name => "Sunburn",
              :description => "Booking sunburn package"%>
            <% service.credential2 @package.id %>
              <% service.customer :first_name => @package_booking.name,
                :last_name => @package_booking.name,
                :phone => @package_booking.phone,
                :email => @package_booking.email %>
              <%# service.user_defined :var1 => current_user.id,
                :var2 => @offer.id,
                :var3 => @offer.user_id,
                :var4 => @trip.checkin,
                :var5 => @trip.checkout,
                :var6 => @trip.guest_count
              %>
              <% service.return_url "http://roomnhouse.com/package_bookings/payu_return" %>
                <p>By Submitting a booking you accept the Room n House <a href="/terms">TERMS &amp; CONDITIONS </a>, <a href="/cancellation">CANCELLATION POLICY</a>, <a href="/privacy">PRIVACY POLICY</a> &amp; House rules</p>
                <input type="submit" class="btn btn-block btn-primary"  id="complete_booking"  value="Complete Booking" />
              <% end %>
              </div>

