<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @package_booking.name %>
</p>

<p>
  <b>Email:</b>
  <%= @package_booking.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @package_booking.phone %>
</p>

<p>
  <b>Unit count:</b>
  <%= @package_booking.unit_count %>
</p>

<p>
  <b>Package:</b>
  <%= @package_booking.package_id %>
</p>

<p>
  <b>Total:</b>
  <%= @package_booking.total %>
</p>


<%= link_to 'Edit', edit_package_booking_path(@package_booking) %> |
<%= link_to 'Back', package_bookings_path %>
