
  <%= f.error_messages %>
  <p>
    <%= f.label :accomodation %><br />
    <%= f.text_field :accomodation %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :alternate %><br />
    <%= f.text_field :alternate %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :bathrooms %><br />
    <%= f.text_field :bathrooms %>
  </p>
  <p>
    <%= f.label :bed_type %><br />
    <%= f.text_field :bed_type %>
  </p>
  <p>
    <%= f.label :bedroom %><br />
    <%= f.text_field :bedroom %>
  </p>
  <p>
    <%= f.label :beds %><br />
    <%= f.text_field :beds %>
  </p>
  <p>
    <%= f.label :property_type %><br />
    <%= f.text_field :property_type %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>

