<%= simple_form_for(@offer, :html => { :class => 'form-horizontal'}) do |f| %>
  
    <%= f.input :visiblity %>
    <%= f.input :email, :as => :email %>
    <%= f.input :contact_phone, :as => :string%>
    <%= f.input :contact_phone_backup, :as => :string %>
    <%= f.input :object_type, :as => :select, :collection => {"Holiday home" => "house", "Apartment" => "apartment", "Private room" => "private_room", "Chalet or cabin" => "cabin", "Villa" => "villa","Castle" => "castle", "Farmhouse" => "farmhouse", "Treehouse" => "treehouse", "Boat" => "boat", "Car" => "automobile"}, :label => "Property Type", :include_blank => false %>
    <%= f.input :size ,:as => :string%>
    <%= f.input :size_type , :as => :select, :collection => {"Square meter" => "square_meter", "Square feet" => "square_feet"}, :include_blank => false %>
    <%= f.input :bathroom_count , :as => :select, :collection =>(1..10), :include_blank =>false %>
    <%= f.input :max_guest_count , :as => :select, :collection =>(1..30), :label => "Accomodates", :include_blank => false %>
    <%= f.input :bed_count , :as => :select, :collection =>(1..30), :label => "Beds"%>
    <%= f.input :bedroom_count , :as => :select, :collection =>(1..10), :label => "Bedrooms", :include_blank => false%>
    <%= f.input :bed_type , :as => :select, :collection => {"Real Bed" => "real_bed", "Airbed" => "airbed", "Futon" => "futon", "Pull-Out" => "pull_out", "Couch" => "couch"}, :include_blank => false %>
    <%= f.input :allow_marketing, :label => "Marketing" %>
    <%= f.input :street , :as => :string%>
    <%= f.input :street_no , :as => :string, :label => "House no."%>
    <%= f.input :address_addon , :as => :string, :label => "Address line 2"%>
    <%= f.input :city , :as => :string%>
    <%= f.input :zip , :as => :string%>
    <%= f.input :country_code_iso, :as => :select, :collection => Hash[Country.all.map{|c| [c.name,c.code]}], :include_blank => false %>
    <%= f.input :currency , :as => :string%>
    <%= f.input :nightly_rate_amount , :as => :string%>
    <%= f.input :weekly_rate_amount , :as => :string%> 
    <%= f.input :monthly_rate_amount , :as => :string%>
    <%= f.input :extra_guest_charge_amount , :as => :string%>
    <%= f.input :included_guest_count , :as => :string%>
    <%= f.input :service_charge_amount , :as => :string%>
    <%= f.input :cancelation_policy , :as => :string%>
    <%= f.input :min_nights , :as => :string%>
    <%= f.input :max_nights , :as => :string%>
    <%= f.input :checkin_after , :as => :string%>
    <%= f.input :checkout_before , :as => :string%>

    <hr>
    <fieldset>
        <p>
            <%= render('photos_table', :f => f ) %>
            <%= link_to_add_fields("Add Photo",f,:photos,:class=> "btn btn-primary",:title => "add a photo.") %>
        </p>
    </fieldset>
    <hr>

    <fieldset>
      <%= render('translations_table', :f => f) %>
      <%= link_to_add_fields("Add a translation", f, :translations, :class => "btn btn-primary", :title => "add a translation.") %>
      <p></p>
    </fieldset>
  
  
    <%= f.button :submit, :class => 'btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),offers_path, :class => 'btn' %>
  
  <%= f.error_messages %>
<% end %>