<table id="translation-table" class="table table-hover table-striped">
  <thead>
    <th>locale</th>
    <th>title</th>
    <th>description</th>
    <th>rules</th>
    <th>zzzzz</th>
  <th></th>
  </thead>
  <tbody>
    <%= f.fields_for(:translations) do |translations_form| %>
      <tr class="fields">
        <td><%= translations_form.text_field(:locale) %></td>
        <td><%= translations_form.text_field(:title) %></td>
        <td><%= translations_form.text_area(:description) %></td>
        <td><%= translations_form.text_area(:rules) %></td>
        <% if current_page?(new_offer_path) || current_page?(edit_offer_path) %>
            <td>
              <%= link_to_remove_fields('<i class="icon-remove"></i>'.html_safe, translations_form, :title => "delete this translation.") %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
