<% content_for :body do %>
<div class="container_24 offer-index">
	<div class="grid_24">
		<%= render partial: "offers/shared/accountbar", locals: {current: "my_offers"}  %>
		<div class="grid_18 alpha omega">
			<h2>My Listing Offers</h2>
			<% @offers.each do |offer| %>
			<div class="grid_17 offer-index-container">
				<h2><% if !offer.translations.first.title.nil? %>
					  <%= offer.translations.first.title.titlecase %>
					<%else%>
					<%= offer.id %>
					<% end %>
				</h2>
				<div class="grid_4 index-image-container">
					<%if !offer.photos.first.nil? %>
					<%= image_tag offer.photos.first.image.url(:medium), class: "img-polaroid", height:"150" %> 
					<% end %>
				</div>
				<div class="grid_4 prefix_8 offer-links">
					<ul>
						<li>
					<%= link_to "Modify listing", edit_offer_translations_path(offer)  %></li>
					<li><%= link_to  "View listing", offer_path(offer) %></li>
					<li><%= link_to  "Delete listing", offer_path(offer), method: "delete" %></li>
					</ul>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>