<% content_for :body do %>
<div class="container_24">
  <div class="grid_24 offer-content"> <!-- coverup span -->
      <div class="grid_18"> <!-- main content span -->
        <% if @offer.translations.exists? %>
        <% if !@offer.translations.title.nil? %>
        <div class="title"><%= @offer.translations.first.title.titlecase %></div>
        <% end %>
        <% end %>
        <div class="shortinfo">
          <% if !@offer.object_type.nil? %>
          <%= @offer.object_type.humanize %> 
          <% end %>
          &#8209; 
          <% if !@offer.address_addon.nil? %>
          <%= @offer.address_addon.humanize %></div>

          <% end %>
          
          <div class="grid_16 prefix_1">
            <div class="gallery">
            <ul id="carousel" class="elastislide-list">
              <% @offer.photos.each do |p| %>
              <li data-preview="<%=p.image.url(:original)%>"> <a href="#"><%= image_tag p.image.url(:thumb) %></a></li>
              <% end %>
            </ul>
            
          <div class="image-preview">
            <% if @offer.photos.exists? %>
            <%= image_tag @offer.photos.first.image.url(:original), :id => "preview" %>
            <% end %>
          </div>
          </div> 
          </div> <!-- large image container -->
          
          <div  class="grid_6 offer-overview">
            <h2>Quick Overview</h2>
            <hr>
            <h3>The Place</h3>
            <ul>
              <li><%= @offer.object_type.nil? ? "" : @offer.object_type.humanize %></li>
              <li>Accommodates :<%= @offer.max_guest_count.nil? "" : @offer.max_guest_count %></li>
              <li>Bed Type: <%= @offer.bed_type.nil? ? "" : @offer.bed_type.humanize %></li>
              <li>Bedrooms: <%= @offer.bedroom_count.nil? ? "" : @offer.bedroom_count %></li>
              <li>Number of Bathrooms: <%= @offer.bathroom_count.nil? ? "" : @offer.bathroom_count %></li>
              <li>Size: <%= @offer.size.nil? ? "" : @offer.size %> <%= @offer.size_type.nil? ? "" : @offer.size_type %></li>
              <li>Property Id: <%= @offer.id %></li>
            </ul>
            <hr>
            <h3>Prices</h3>
            <ul>
              <li>Nightly: <%= @offer.nightly_rate_amount %> <%= @offer.currency %></li>
              <li>Weekly: <%= @offer.weekly_rate_amount %> <%= @offer.currency %></li>
              <li>Monthly: <%= @offer.monthly_rate_amount %> <%= @offer.currency %></li>
            </ul>
            <hr>
            <h3>Details</h3>
            <ul>
              <li>Maximum Nights: <%= @offer.max_nights %></li>
              <li>Check-in after: <%= @offer.checkin_after %></li>
              <li>Check-out before: <%= @offer.checkout_before %></li>
              <li>Cancellation policy: <%= @offer.cancelation_policy %></li>
            </ul>
          </div><!-- shorthand details -->
          <div class="grid_11 omega offer-detailed">
            <h2>Description</h2>
            <% if @offer.translations.exists? %>
            <article><p><%= simple_format(@offer.translations.first.description) %></p></article>
            <hr>
            <h2>House rules</h2>
            <article><p><%= simple_format(@offer.translations.first.rules) %></p></article>
            <hr>
            <% end %>
          </div> <!-- full details, description and title -->
           </div>
          <div class="grid_5 alpha omega sidebar-show">
            <h2>Your Host</h2>
            <div class="grid_3 prefix_1"> <%= image_tag current_user.avatar.url(:medium), class: "img-polaroid" %></div>
            <h3><%= current_user.firstname.humanize %> <%= current_user.lastname.humanize[0,1] %></h3>
            <hr>
            <div class="grid_3 prefix_1"><a href="#" class="btn btn-primary large">Book Now</a></div>

          </div> <!-- sidebar span -->
      </div>
  </div>
<% end %>
