<% title "Offer" %>

<p>
  <strong>U:</strong>
  <%= @offer.u_id %>
</p>
<p>
  <strong>Visiblity:</strong>
  <%= @offer.visiblity %>
</p>
<p>
  <strong>Email:</strong>
  <%= @offer.email %>
</p>
<p>
  <strong>Contact Phone:</strong>
  <%= @offer.contact_phone %>
</p>
<p>
  <strong>Contact Phone Backup:</strong>
  <%= @offer.contact_phone_backup %>
</p>
<p>
  <strong>Object Type:</strong>
  <%= @offer.object_type %>
</p>
<p>
  <strong>Size:</strong>
  <%= @offer.size %>
</p>
<p>
  <strong>Size Type:</strong>
  <%= @offer.size_type %>
</p>
<p>
  <strong>Bathroom Count:</strong>
  <%= @offer.bathroom_count %>
</p>
<p>
  <strong>Max Guest Count:</strong>
  <%= @offer.max_guest_count %>
</p>
<p>
  <strong>Bed Count:</strong>
  <%= @offer.bed_count %>
</p>
<p>
  <strong>Bedroom Count:</strong>
  <%= @offer.bedroom_count %>
</p>
<p>
  <strong>Bed Type:</strong>
  <%= @offer.bed_type %>
</p>
<p>
  <strong>Allow Marketing:</strong>
  <%= @offer.allow_marketing %>
</p>
<p>
  <strong>Street:</strong>
  <%= @offer.street %>
</p>
<p>
  <strong>Street No:</strong>
  <%= @offer.street_no %>
</p>
<p>
  <strong>Address Addon:</strong>
  <%= @offer.address_addon %>
</p>
<p>
  <strong>City:</strong>
  <%= @offer.city %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @offer.zip %>
</p>
<p>
  <strong>Country Code Iso:</strong>
  <%= @offer.country_code_iso %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @offer.currency %>
</p>
<p>
  <strong>Nightly Rate Amount:</strong>
  <%= @offer.nightly_rate_amount %>
</p>
<p>
  <strong>Weekly Rate Amount:</strong>
  <%= @offer.weekly_rate_amount %>
</p>
<p>
  <strong>Monthly Rate Amount:</strong>
  <%= @offer.monthly_rate_amount %>
</p>
<p>
  <strong>Extra Guest Charge Amount:</strong>
  <%= @offer.extra_guest_charge_amount %>
</p>
<p>
  <strong>Included Guest Count:</strong>
  <%= @offer.included_guest_count %>
</p>
<p>
  <strong>Service Charge Amount:</strong>
  <%= @offer.service_charge_amount %>
</p>
<p>
  <strong>Cancelation Policy:</strong>
  <%= @offer.cancelation_policy %>
</p>
<p>
  <strong>Min Nights:</strong>
  <%= @offer.min_nights %>
</p>
<p>
  <strong>Max Nights:</strong>
  <%= @offer.max_nights %>
</p>
<p>
  <strong>Checkin After:</strong>
  <%= @offer.checkin_after %>
</p>
<p>
  <strong>Checkout Before:</strong>
  <%= @offer.checkout_before %>
</p>

<p>
  <%= link_to "Edit", edit_offer_path(@offer) %> |
  <%= link_to "Destroy", @offer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", offers_path %>
</p>
