<% content_for :body do %>
<div class="container_24">
  <div class="grid_24 offer-content"> <!-- coverup span -->
      <div class="grid_18"> <!-- main content span -->
        <% if @offer.translations.exists? %>
        <% if !@offer.translations.first.title.nil? %>
        <div class="title"><%= @offer.translations.first.title.titlecase %></div>
        <% end %>
        <% end %>
        <div class="shortinfo">
          <% if !@offer.object_type.nil? %>
          <%= @offer.object_type.humanize %> 
          <% end %>
          &#8209; 
          <% if !@offer.address_addon.nil? %>
          <%= @offer.address_addon.humanize %></div>

          <% end %>
          
          <div class="grid_16 prefix_1">
            <div class="gallery">
            <div id="this-carousel-id" class="carousel slide">
              <div class="carousel-inner">
                <% photos = @offer.photos%>
                <% if !photos.nil? %>
          <%if !photos.first.nil? %>
            <div class="item active">  <%= image_tag photos.shift.image.url(:medium), :style => "height:350px;max-width:500px;"%></div>
            <% end %>
            <% end %>
              <% photos.each do |p| %>
              <div class="item">
                <%=image_tag p.image.url(:medium), :style => "height:350px; margin:auto;" %>
              </div>
              <% end %>
            </div>
            </div>
            
          
          </div> 
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
          </div> <!-- large image container -->
          <script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 5000
    });
  });
</script>
          <div  class="grid_6 offer-overview">
            <h2>Quick Overview</h2>
            <hr>
            <h3>The Place</h3>
            <ul>
              <li><%= @offer.object_type.nil? ? "" : @offer.object_type.humanize %></li>
              <li>Accommodates :<%= @offer.max_guest_count.nil? ? "" : @offer.max_guest_count %></li>
              <li>Bed Type: <%= @offer.bed_type.nil? ? "" : @offer.bed_type.humanize %></li>
              <li>Bedrooms: <%= @offer.bedroom_count.nil? ? "" : @offer.bedroom_count %></li>
              <li>Number of Bathrooms: <%= @offer.bathroom_count.nil? ? "" : @offer.bathroom_count %></li>
              <li>Size: <%= @offer.size.nil? ? "" : @offer.size %> <%= @offer.size_type.nil? ? "" : @offer.size_type %></li>
              <li>Property Id: <%= @offer.id %></li>
            </ul>
            <hr>
            <h3>Prices</h3>
            <ul>
              <li>Nightly: <%= @offer.nightly_rate_amount %> <%= @offer.currency %></li>
              <li>Weekly: <%= @offer.weekly_rate_amount %> <%= @offer.currency %></li>
              <li>Monthly: <%= @offer.monthly_rate_amount %> <%= @offer.currency %></li>
            </ul>
            <hr>
            <h3>Details</h3>
            <ul>
              <li>Maximum Nights: <%= @offer.max_nights %></li>
              <li>Check-in after: <%= @offer.checkin_after %></li>
              <li>Check-out before: <%= @offer.checkout_before %></li>
              <li>Cancellation policy: <%= @offer.cancelation_policy %></li>
            </ul>
          </div><!-- shorthand details -->
          <div class="grid_11 omega offer-detailed">
            <h2>Description</h2>
            <% if @offer.translations.exists? %>
            <article><p><%= simple_format(@offer.translations.first.description) %></p></article>
            <hr>
            <h2>House rules</h2>
            <article><p><%= simple_format(@offer.translations.first.rules) %></p></article>
            <hr>
            <% end %>
          </div> <!-- full details, description and title -->
           </div>
          <div class="grid_5 alpha omega sidebar-show">
            <h2>Your Host</h2>
            <div class="grid_3 prefix_1"><% @user =  User.find(@offer.user_id) %> <%= image_tag @user.avatar.url(:medium), class: "img-polaroid" %></div>
            <h3><%= @user.firstname.humanize %> <%= @user.lastname.humanize[0,1] %></h3>
            <hr>
            <div class="grid_3 prefix_1"><a href="#" class="btn btn-primary large">Book Now</a></div>

          </div> <!-- sidebar span -->
      </div>
  </div>
<% end %>
