<% content_for :title do %>
  <% if @offer.translations.first.title.nil? %>
    <%= @offer.bedroom_count  %>BHK,  <%= @offer.object_type.humanize  %> in <%= @offer.address_addon  %>, <%= @offer.city  %> for rent - Roomnhouse
  <% else %>
    <%= @offer.translations.first.title.titlecase  %> in <%= @offer.city %>
  <% end %>
<% end %>
<% content_for :meta_description do %>
  <% if @offer.translations.first.description.nil? %>
    "A spacious vacation rental <%= @offer.object_type.humanize  %> near <%= @offer.city  %>, with <%= @offer.bed_count  %> beds, and can accommodate <%= @offer.max_guest_count %> people"
  <% else %>
    "Entire <%= @offer.object_type.humanize %> for <%= @offer.nightly_rate_amount %> INR. <%=h truncate(@offer.translations.first.description, length: 140)  %>"
  <% end %>
<% end %>
<% content_for :social do %>
  <% if @offer.translations.first.title.nil? %>
    <meta property="og:title" content="<%= @offer.bedroom_count  %>BHK,  <%= @offer.object_type.humanize  %> in <%= @offer.address_addon  %>, <%= @offer.city  %> for rent - Roomnhouse">
  <% else %>
    <meta property="og:title" content="<%=h @offer.translations.first.title.titlecase %> in <%= @offer.city  %>">
  <% end %>
  <meta property="og:type" content="roomnhouse:listing">
  <meta property="og:url" content="<%= url_for(only_path: false)%>">
  <% if @offer.translations.first.description.nil? %>
    <meta property="og:description" content="A spacious vacation rental <%= @offer.object_type.humanize  %> near <%= @offer.city  %>, with <%= @offer.bed_count  %> beds, and can accommodate <%= @offer.max_guest_count %> people">
  <% else %>
    <meta property="og:description" content="Entire <%= @offer.object_type.humanize %> for <%= @offer.nightly_rate_amount %> INR. <%=h truncate(@offer.translations.first.description, length: 140)  %>">
  <% end %>
  <% if @offer.photos.first.image.nil? %>
    <meta property="og:image" content="<%= asset_path("logo.png") %>">
  <% else %>
    <meta property="og:image" content="<%= @offer.photos.first.image.url(:original) %>">
  <% end %>


  <meta property="twitter:card" content="photo">
  <meta property="twitter:url" content="<%= url_for(only_path: false)%>">
   <% if @offer.photos.first.image.nil? %>
    <meta property="twitter:image" content="<%= asset_path("logo.png") %>">
  <% else %>
    <meta property="twitter:image" content="<%= @offer.photos.first.image.url(:original) %>">
  <% end %>

 <% if @offer.translations.first.title.nil? %>
    <meta property="twitter:title" content="<%= @offer.bedroom_count  %>BHK,  <%= @offer.object_type.humanize  %> in <%= @offer.address_addon  %>, <%= @offer.city  %> for rent - Roomnhouse">
  <% else %>
    <meta property="twitter:title" content="<%=h @offer.translations.first.title.titlecase %> in <%= @offer.city  %>">
  <% end %>
  <meta property="twitter:site" content="@roomnhouse">
   <% if @offer.photos.first.image.nil? %>
    <link rel="image_src" href="<%= asset_path("logo.png") %>">
  <% else %>
    <link rel="image_src" href="<%= @offer.photos.first.image.url(:original) %>">
  <% end %>

<% end %>
<% content_for :body do %>
  <div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      <div class="panel panel-default">
        <div class="container">
          <div class="row" itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="padding-top:15px;">
            <div class="col-sm-7">
              <span class="price-display"><%= @offer.currency %> <span id="price1" itemprop="price"><%= @offer.nightly_rate_amount %></span> 
                <meta content="INR" itemprop="priceCurrency">
                <i class="icon-inr"></i></span>
            </div>
            <div class="col-sm-5">
              <div class="form-group"><select id="Price_view_selector" class="form-control" name="">
                  <option value="1" selected="selected">Per night</option>
                  <option value="2">Per week</option>
                  <option value="3">Per month</option>
              </select></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <%= form_tag "/bookings", :method => 'post',class: "",role: "form", id: 'search_form' do %>
                <%= hidden_field_tag :offer_id,params[:offer_id], value: @offer.id %>
              <div class="form-group">
                <label for="checkin">Check-in</label>
                <%= text_field_tag :checkin, params[:checkin],required: "required", class: "form-control", placeholder: "Select Date", value: cookies[:checkin]%>
              </div>
              <div class="form-group">
                <label for="checkout">Check-out</label>
                <%= text_field_tag :checkout, params[:checkout],required: "required",class: "form-control", placeholder: "Select Date", value:cookies[:checkout]%>
              </div>
              <div class="form-group">
                <label for="guests">Guests</label>
                <%= select_tag :guests, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35],2),class: "form-control" %> 
              </div>
              <div class="form-group"><input type="submit" class=" btn btn-danger btn-lg btn-block" value="Book Now" /></div>
            </div>
          </div>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="container">
          <div class="row">
            <div class="col-sm-3"><% @user =  User.find(@offer.user_id) %> <%= image_tag @user.avatar.url(:medium_center) , class: "thumbnail no-pad-border"%></div>
            <div class="col-sm-9" style="padding-top:25px;"><p><strong>Host: <%= @user.firstname.humanize %></strong></p></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <div class="panel panel-default">
        <div class="alert alert-info no-margin"><strong><i class="icon-phone"></i> Need help in booking? Talk to us! +91-9022-543210</strong></div>
        <div class="panel-body" itemscope itemtype="http://schema.org/Product">
  <% if @offer.photos.first.image.nil? %>
    <meta itemprop="image" content="<%= asset_path("logo.png") %>">
  <% else %>
    <meta itemprop="image" content="<%= @offer.photos.first.image.url(:original) %>">
  <% end %>
          <% if @offer.translations.exists? %>
            <% if !@offer.translations.first.title.nil? %>
            <h1 itemprop="name" title="<%= @offer.bedroom_count  %>BHK,  <%= @offer.object_type.humanize  %> in <%= @offer.address_addon  %>, <%= @offer.city  %> for rent - Roomnhouse"><%= @offer.translations.first.title.titlecase %></h1>
        <% end %>
        <% end %>
          <h6><% if !@offer.address_addon.nil? %>
            <%= @offer.address_addon.titlecase %>
          <% end %>, 
            <%= @offer.city.titlecase  %>,
            <%= Country.where(code: @offer.country_code_iso).first.name.titlecase  %>
          </h6>
          <div id="carousel-main" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <% photos = @offer.photos%>
              <% if !photos.nil? %>
                <%if !photos.first.nil? %>
                <div class="item active">
                  <%= image_tag photos.first.image.url(:slider2) ,class: "img-responsive", style: "width:100%", alt: "#{@offer.translations.first.title.titlecase}" %>
                <div class="carousel-caption">
                </div>
              </div>
            <% end %>
              <% photos[1..-1].each do |photo| %>
                <div class="item">
                  <%= image_tag photo.image.url(:slider2) ,class: "img-responsive" , style: "width:100%", alt: "#{@offer.translations.first.title.titlecase}"%>
                <div class="carousel-caption">
                </div>
              </div>
            <% end %>
            <% end %>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-main" data-slide="prev">
              <span class="icon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-main" data-slide="next">
              <span class="icon-chevron-right"></span>
            </a>
          </div>
          <div class="carousel slide" id="CarouselThumb">
            <div class="carousel-inner">
              <div class="item active car-thumb">
                <div class="col-xs-2">
                  <a data-target="#carousel-main" data-slide-to="1" href="#">
                    <%= image_tag photos.first.image.url(:thumb), class: "img-responsive thumbnail", alt: "#{@offer.translations.first.title.titlecase}" %>
                  </a>
                </div>
              </div>
              <% photos[1..-1].each_with_index do |photo, index| %>
                <div class="item car-thumb">
                <div class="col-xs-2">
                  <a data-target="#carousel-main" data-slide-to="<%= index %>" href="#">
                    <%= image_tag photo.image.url(:thumb), class: "img-responsive thumbnail", alt: "#{@offer.translations.first.title.titlecase}" %>
                  </a>
                </div>
              </div>
            <% end %>
            </div>
            <a class="left carousel-control" href="#CarouselThumb" data-slide="prev"><i class="icon-chevron-left"></i></a>
            <a class="right carousel-control" href="#CarouselThumb" data-slide="next"><i class="icon-chevron-right"></i></a>
          </div> <!--End photo slider-->
          <div class="overview-cover">
            <div class="container">
              <div class="row">
                <div class="overview col-sm-3 col-xs-6"><div class="overview-heading">Accommodates</div> <div class="overview-details"><%= @offer.max_guest_count.nil? ? "" : @offer.max_guest_count  %></div></div>
                <div class="overview col-sm-3 col-xs-6"><div class="overview-heading">Bedrooms </div><div class="overview-details"><%= @offer.bedroom_count.nil? ? 1 : @offer.bedroom_count %></div></div>
                <div class="overview col-sm-3 col-xs-6"><div class="overview-heading">Bathrooms </div><div class="overview-details"><%= @offer.bed_count.nil? ? 1 : @offer.bed_count %></div></div>
                <div class="overview col-sm-3 col-xs-6"><div class="overview-heading">Size </div><div class="overview-details"><%= @offer.size.nil? ? "Nil" : @offer.size %> <%= @offer.size_type.nil? ? "Sq. ft." : @offer.size_type.humanize %></div></div>
              </div>
            </div>
          </div>
          <div class="property-overview">
            <span class=""><strong>Property Type:</strong> <%= @offer.object_type.humanize  %></span>

            <span class="pull-right text-right"><strong>Property id:</strong> <%= @offer.id  %></span>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="headings-offer">Description:</div>
              <% if @offer.translations.exists? %>
                <article><%= simple_format(@offer.translations.first.description) %></article>
            <% end %>
              <div class="headings-offer">House Rules:</div>
              <% if @offer.translations.exists? %>
                <article><%= simple_format(@offer.translations.first.rules) %></article>
            <% end %>
            </div>
            <div class="col-sm-4">
              <div class="headings-offer">Property Details:</div>
              <ul class="prop-details">
                <li>Min Stay: <%= @offer.min_nights %> nights</li>
                <li>Max Stay: <%= @offer.max_nights %>nights</li>
                <li>Rates based on: <%= @offer.max_guest_count %> Guests</li>
                <li>Extra Guest pays <%= @offer.extra_guest_charge_amount %> INR/ per night</li>
                <li>Check In/Check Out: <%= @offer.checkin_after %>/<%= @offer.checkout_before %></li>
                <li>Cleaning Fees: <%= @offer.service_charge_amount %></li>
                <li>Cancellation Policy: <%= @offer.cancelation_policy %></li>
              </ul>
              <div class="headings-offer">Amenities:</div>
              <% if @offer.amenity %>
                <% @amenity = @offer.amenity %>
              <ul class="prop-details">
                <li><i class="<%= @amenity.air_conditioning ? 'icon-ok' : 'icon-remove' %>"></i>Air Conditioning </li>
                <li><i class="<%= @amenity.baby_cot ? 'icon-ok' : 'icon-remove' %>"></i>Baby Cot</li>
                <li><i class="<%= @amenity.breakfast ? 'icon-ok' : 'icon-remove' %>"></i>Breakfast</li>
                <li><i class="<%= @amenity.cable_tv ? 'icon-ok' : 'icon-remove' %>"></i>Cable TV</li>
                <li><i class="<%= @amenity.doorman ? 'icon-ok' : 'icon-remove' %>"></i>Doorman</li>
                <li><i class="<%= @amenity.dryer ? 'icon-ok' : 'icon-remove' %>"></i>Dryer</li>
                <li><i class="<%= @amenity.elevator_in_building ? 'icon-ok' : 'icon-remove' %>"></i>Elevator in Building</li>
                <li><i class="<%= @amenity.kids_friendly ? 'icon-ok' : 'icon-remove' %>"></i>Kids Friendly</li>
                <li><i class="<%= @amenity.wireless_internet ? 'icon-ok' : 'icon-remove' %>"></i>Wireless Internet</li>
                <li><i class="<%= @amenity.free_parking_on_premise ? 'icon-ok' : 'icon-remove' %>"></i>Free Parking on Premise</li>
                <li><i class="<%= @amenity.gym ? 'icon-ok' : 'icon-remove' %>"></i>Gym</li>
                <li><i class="<%= @amenity.handicap_accessible ? 'icon-ok' : 'icon-remove' %>"></i>Handicap Accessible</li>
                <li><i class="<%= @amenity.heating ? 'icon-ok' : 'icon-remove' %>"></i>Heating</li>
                <li><i class="<%= @amenity.hot_tub ? 'icon-ok' : 'icon-remove' %>"></i>Hot Tub</li>
                <li><i class="<%= @amenity.indoor_fireplace ? 'icon-ok' : 'icon-remove' %>"></i>Indoor Fireplace</li>
                <li><i class="<%= @amenity.intercom ? 'icon-ok' : 'icon-remove' %>"></i>Intercom</li>
                <li><i class="<%= @amenity.internet ? 'icon-ok' : 'icon-remove' %>"></i>Internet</li>
                <li><i class="<%= @amenity.kitchen ? 'icon-ok' : 'icon-remove' %>"></i>Kitchen</li>
                <li><i class="<%= @amenity.lockable_room ? 'icon-ok' : 'icon-remove' %>"></i>Lockable Room</li>
                <li><i class="<%= @amenity.pets_allowed ? 'icon-ok' : 'icon-remove' %>"></i>Pets Allowed</li>
                <li><i class="<%= @amenity.pool ? 'icon-ok' : 'icon-remove' %>"></i>Pool</li>
                <li><i class="<%= @amenity.sauna ? 'icon-ok' : 'icon-remove' %>"></i>Sauna</li>
                <li><i class="<%= @amenity.smoking_allowed ? 'icon-ok' : 'icon-remove' %>"></i>Smoking Allowed</li>
                <li><i class="<%= @amenity.suitable_for_events ? 'icon-ok' : 'icon-remove' %>"></i>Suitable for Events</li>
                <li><i class="<%= @amenity.towels ? 'icon-ok' : 'icon-remove' %>"></i>Towels</li>
                <li><i class="<%= @amenity.tv ? 'icon-ok' : 'icon-remove' %>"></i>TV</li>
                <li><i class="<%= @amenity.washer ? 'icon-ok' : 'icon-remove' %>"></i>Washer</li> 
              </ul>
            <% end %>

            </div>
          </div>

          <div class="col-sm-12">
            <div class="headings-offer">Map</div>
            <div id="map" style='height: 400px;'></div>
          </div>
          <div class="col-sm-12">
            <div class="headings-offer">Calendar</div>
            <div id="calendar"></div>
          </div>
        </div> <!-- end div.panel-body-->
      </div><!-- end div.panel-->
    </div><!-- end div.col-sm-9-->
  </div><!-- end div.row-->
</div><!--end div.container -->
<!-- end of id="content" -->
<% end %>
<% end %>
<% content_for :js do %>
  <script>

$(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

    circles = handler.addCircles([{"lat": <%= @offer.confidential_lat  %>, "lng": <%= @offer.confidential_lng  %>, radius: 500}]);
    handler.bounds.extendWith(circles);
    handler.fitMapToBounds();
  });
  var nightly = <%= @offer.nightly_rate_amount.to_s  %>;
  var weekly = <%= @offer.weekly_rate_amount.nil? ? @offer.nightly_rate_amount*7 : @offer.weekly_rate_amount.to_s  %>;
  var monthly = <%= @offer.monthly_rate_amount.nil? ? @offer.nightly_rate_amount*30 : @offer.monthly_rate_amount.to_s %>;

  $('#Price_view_selector').on('change', function() {
    if(this.value == 1)
      {
        $('#price1').text(nightly);
      }
      else if(this.value == 2)
        {
          $('#price1').text(weekly);
        }
        else if(this.value == 3)
          {
            $('#price1').text(monthly);
          }
  });
  $('#CarouselThumb').carousel({
    interval: 9999
  })

  $('.carousel .car-thumb').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i=0;i<4;i++) {
      next=next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }

      next.children(':first-child').clone().appendTo($(this));
    }
  });
  $( "#checkin" ).datepicker({
    minDate:"0",
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      $( "#checkout" ).datepicker( "option","minDate",selectedDate );
    }
  });
  $( "#checkout" ).datepicker({
    minDate:"0",
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      $( "#checkin" ).datepicker( "option", "maxDate", selectedDate );
    }
  });
  $('#calendar').fullCalendar({
    header: {
      left: 'prev',
      center: 'title',
      right: 'next'
    },
    defaultView: 'month',
    height: 500,
    viewDisplay   : function(view) {
      var now = new Date(); 
      var end = new Date();
      end.setMonth(now.getMonth() + 11); //Adjust as needed

      var cal_date_string = view.start.getMonth()+'/'+view.start.getFullYear();
      var cur_date_string = now.getMonth()+'/'+now.getFullYear();
      var end_date_string = end.getMonth()+'/'+end.getFullYear();

      if(cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
      else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

      if(end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
      else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }
    },
    eventSources: [
      {
      url: '/offers/<%= @offer.id  %>/calendar'
    }
    ],
    timeFormat: 'h:mm t{ - h:mm t} ',
    dragOpacity: "0.5",
    eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
      return updateEvent(event);
    },
    eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
      return updateEvent(event);
    }
  });
});
</script>
<% end %>

