<% content_for :title do %>
  <% if @offer.translations.exists? %>
  <% if !@offer.translations.first.title.nil? %>
  <%= @offer.translations.first.title.titlecase %>
          <% end %>
          <% else %>
  Bed and Breakfast, India
        <% end %>
<% end %>
<% content_for :body do %>
  <div class="container">
  <div class="row"> <!-- coverup span -->
    <!-- main content -->
    <div class="col-lg-8 main">
      <% if @offer.translations.exists? %>
        <% if !@offer.translations.first.title.nil? %>
        <h1 style="font-size:32px;font-weight:600;padding:0px;margin:10px 0px;"><%= @offer.translations.first.title.titlecase %></h1>
    <% end %>
    <% end %>
    <h2 style="font-size:12px;font-weight:400;padding:0px;margin:5px;"><% if !@offer.address_addon.nil? %>
        <%= @offer.address_addon.titlecase %>
      <% end %>, 
      <%= @offer.city.titlecase  %>,
      <%= Country.where(code: @offer.country_code_iso).first.name.titlecase  %>
    </h2>
      <div class="offer-content">
        <div class="col-lg-12">
            <div id="this-carousel-id" class="carousel slide">
              <div class="carousel-inner">
                <% photos = @offer.photos%>
                <% if !photos.nil? %>
                  <%if !photos.first.nil? %>
                  <div class="item active">  <%= image_tag photos.shift.image.url(:slider2), :style => "height:550px;  margin:auto;"%></div>
              <% end %>
              <% end %>
                <% photos.each do |p| %>
                  <div class="item">
                  <%=image_tag p.image.url(:slider2), :style => "height:550px; margin:auto;" %>
                </div>
              <% end %>
              </div>
             <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
          </div>
          <script>
$(document).ready(function(){
  $('.carousel').carousel({
    interval: 3000
  });
});
          </script>
        </div>
        <div class="short-details">
          <table class="table">
            <tr>
              <th class="text-center">Accommodation</th>
              <th class="text-center">Bedrooms</th>
              <th class="text-center">Beds</th>
              <th class="text-center">Bathrooms</th>
              <th class="text-center">Size</th>
            </tr>
            <tr>
            <td class="text-center"><%= @offer.max_guest_count.nil? ? "" : @offer.max_guest_count %></td>
            <td class="text-center"><%= @offer.bedroom_count.nil? ? "" : @offer.bedroom_count %></td>
            <td class="text-center"><%= @offer.bed_count.nil? ? "" : @offer.bed_count %></td>
            <td class="text-center"><%= @offer.bathroom_count.nil? ? "" : @offer.bathroom_count %></td>
            <td class="text-center"><%= @offer.size.nil? ? "" : @offer.size %> <%= @offer.size_type.nil? ? "" : @offer.size_type.humanize %></td>
            </tr>
          </table>
        </div>
        <div class="long-details">
          <div class="row">
          <div class="col-lg-6" style="font-size:16px;"><strong>Property type:</strong> <%= @offer.object_type.nil? ? "" : @offer.object_type.humanize %></div>
          <div class="pull-right text-right col-lg-6" style="font-size:16px;"><strong>Property Id:</strong> <%= @offer.id %></div>
          </div>
          <h3>Description</h3>
          <% if @offer.translations.exists? %>
            <article><p><%= simple_format(@offer.translations.first.description) %></p></article>
          <hr>
          <h3>House rules</h3>
          <article><p><%= simple_format(@offer.translations.first.rules) %></p></article>
          <hr>
        <% end %>
          <% if @offer.amenity %>
            <% @amenity = @offer.amenity %>
          <h3>Amenities</h3>
          <ul class="triple">
            <%= "<li><i class='icon-asterisk'></i> Air Conditioning</li>".html_safe if @amenity.air_conditioning %>
            <%= "<li><i class='icon-smile'></i> Baby Cot</li>".html_safe if @amenity.baby_cot %>
            <%= "<li><i class='icon-food'></i> Breakfast</li>".html_safe if @amenity.breakfast %>
            <%= "<li><i class='icon-laptop'></i> Cable TV</li>".html_safe if @amenity.cable_tv %>
            <%= "<li><i class='icon-male'></i> Doorman</li>".html_safe if @amenity.doorman %>
            <%= "<li><i class='icon-fire-extinguisher'></i> Dryer</li>".html_safe if @amenity.dryer %>
            <%= "<li><i class='icon-building'></i> Elevator in Building</li>".html_safe if @amenity.elevator_in_building %>
            <%= "<li><i class='icon-smile'></i> Kids Friendly</li>".html_safe if @amenity.kids_friendly %>
            <%= "<li><i class='icon-signal'></i> Wireless Internet</li>".html_safe if @amenity.wireless_internet %>
            <%= "<li><i class='icon-money'></i> Free Parking on Premise</li>".html_safe if @amenity.free_parking_on_premise %>
            <%= "<li><i class='icon-legal'></i> Gym</li>".html_safe if @amenity.gym %>
            <%= "<li><i class='icon-h-sign'></i> Handicap Accessible</li>".html_safe if @amenity.handicap_accessible %>
            <%= "<li><i class='icon-fire'></i> Heating</li>".html_safe if @amenity.heating %>
            <%= "<li><i class='icon-ok'></i> Hot Tub</li>".html_safe if @amenity.hot_tub %>
            <%= "<li><i class='icon-fire'></i> Indoor Fireplace</li>".html_safe if @amenity.indoor_fireplace %>
            <%= "<li><i class='icon-phone'></i> Intercom</li>".html_safe if @amenity.intercom %>
            <%= "<li><i class='icon-signal'></i> Internet</li>".html_safe if @amenity.internet %>
            <%= "<li><i class='icon-food'></i> Kitchen</li>".html_safe if @amenity.kitchen %>
            <%= "<li><i class='icon-lock'></i> Lockable Room</li>".html_safe if @amenity.lockable_room %>
            <%= "<li><i class='icon-ok'></i> Pets Allowed</li>".html_safe if @amenity.pets_allowed %>
            <%= "<li><i class='icon-ok'></i> Pool</li>".html_safe if @amenity.pool %>
            <%= "<li><i class='icon-ok'></i> Sauna</li>".html_safe if @amenity.sauna %>
            <%= "<li><i class='icon-ok'></i> Smoking Allowed</li>".html_safe if @amenity.smoking_allowed %>
            <%= "<li><i class='icon-group'></i> Suitable for Events</li>".html_safe if @amenity.suitable_for_events %>
            <%= "<li><i class='icon-ok'></i> Towels</li>".html_safe if @amenity.towels %>
            <%= "<li><i class='icon-desktop'></i> TV</li>".html_safe if @amenity.tv %>
            <%= "<li><i class='icon-ok'></i> Washer</li>".html_safe if @amenity.washer %> 
          </ul>
          <hr>
        <% end %>
        </div> <!-- full details, description and title -->
        <div class="row">
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="container">
            <table class="table table-bordered">
              <tr>
            <th style="font-size:18px;"><strong>Pricing</strong></th>
            <th style="font-size:18px;"><strong>Conditions</strong></th>
            </tr>
              <tr><td><strong>Nightly:</strong> <%= @offer.nightly_rate_amount %> <%= @offer.currency %></td>
                <td><strong>Minimum Nights: <%= @offer.min_nights  %></strong></td>
            </tr>
              <tr><td><strong>Weekly:</strong> <%= @offer.weekly_rate_amount %> <%= @offer.currency %></td>
              <td><strong>Maximum Nights:</strong> <%= @offer.max_nights %></td></tr>
              <tr><td><strong>Monthly:</strong> <%= @offer.monthly_rate_amount %> <%= @offer.currency %></td>
              <td><strong>Check-in after:</strong> <%= @offer.checkin_after %></td></tr>
            <tr>
              <td><strong>Cleaning fee:</strong> <%= @offer.service_charge_amount  %></td>
              <td><strong>Check-out before:</strong> <%= @offer.checkout_before %></td></tr>
            <tr><td><strong>Fee for extra guests: </strong><%= @offer.extra_guest_charge_amount  %> after <%= @offer.included_guest_count  %> guests</td>
            <td><strong>Cancellation policy:</strong> <%= @offer.cancelation_policy.titlecase %></td></tr>
              </table>
          </div>
        </div>
      </div>
    </div>
    <!-- side bar content -->
    <div class="col-lg-4 main">
      <div class="row sidebar-pricing">
        <div class="col-lg-6">
          <span style="font-size:16px;">Per night</span>
        </div>
        <div class="col-lg-6 text-right">
          <i class="icon-rupee icon-large"></i> <span style="font-size:16px;font-weight:600;"><%= @offer.nightly_rate_amount%></span>
        </div>
      </div>
      <div class="row" style="padding-top:10px;">
        <%= form_tag "/bookings", :method => 'post', id: 'search_form' do %>
          <%= hidden_field_tag :offer_id,params[:offer_id], value: @offer.id %>
        <div class="form-group col-lg-4">
          <%= text_field_tag :checkin, params[:checkin],required: "required",class: "form-control", placeholder: "Check in"%>
        </div>
        <div class="form-group col-lg-4">
          <%= text_field_tag :checkout, params[:checkout],required: "required",class: "form-control", placeholder: "Check out"%>
        </div>
        <div class="form-group col-lg-4">
          <%= text_field_tag :guests, params[:guests],class: "form-control",required: "required", placeholder: "Guests" %>
        </div>
        <% if @offer.min_nights %>
        <div class="row" style="padding:10px 0px; margin:5px 0px;">
          <div class="text-center">
          Minimum Nights: <%= @offer.min_nights  %>
        </div>
        </div>
      <% end %>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4">
            <button type="submit" class="btn btn-lg btn-primary" value="book" name="commit"> 
              Book Now
            </button>
          </div>
        </div>
      <% end %>
      </div>
      <div class="row" style="padding-top:20px;">
        <div class="col-lg-4"><% @user =  User.find(@offer.user_id) %> <%= image_tag @user.avatar.url(:medium), class: "img-thumbnail" %></div>
        <div class="col-lg-8" style="font-size:16px;padding-top:20px;">
          Host: <strong><%= @user.firstname.humanize %></strong>
        </div>
        <hr />
      </div>
      <div class="row" style="padding-top:15px; color:#3276b1; font-weight:400; font-size:24px;">
        <div class="col-lg-6 col-lg-offset-3 text-center">
        OUR PROMISE
        </div>
        </div>
      <div class="row" style="padding-top:15px; color:#3276b1;">
        <div class="col-lg-3 text-center">
          <i class="icon-phone icon-3x"></i>
        </div>
        <div class="col-lg-9" style="font-size:16px; padding-top:5px;">
          <strong>Every host is verified by telephone</strong>
        </div>
        <hr />
      </div>
      <div class="row" style="padding-top:15px; color:#3276b1;">
        <div class="col-lg-3 text-center">
          <i class="icon-shield icon-3x"></i>
        </div>
        <div class="col-lg-9" style="font-size:16px; padding-top:5px;">
          <strong>Quality assured accommodation</strong>
        </div>
        <hr />
      </div>
    <div class="row" style="padding-top:15px; color:#3276b1;">
      <div class="col-lg-3 text-center">
        <i class="icon-lock icon-3x"></i>
      </div>
      <div class="col-lg-9" style="font-size:16px; padding-top:5px;">
        <strong>Secured payment through SSL</strong>
      </div>
      <hr />
  </div> </div>
</div>
</div>
</div>
</div>
<% end %>
