<% content_for :body do %>
  <div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ul class="list-group">
        <%= link_to "My Listings", offers_path, class: "list-group-item active" %>
        <%= link_to "Profile settings", edit_user_registration_path, class: "list-group-item" %>
      </ul>
    </div>

    <div class="col-lg-9">
      <div class="main" style="margin-top:0px;">
        <div class="row">
          <ul class="nav nav-pills nav-justified">
            <li><a href="">Overview</a></li>
            <li ><%= link_to "Title & Description", edit_offer_translations_path %></li>
            <li><%= link_to "Details", edit_offer_details_path %></li>
            <li><%= link_to "Address", edit_offer_addresses_path %></li>
            <li class="active"><%= link_to "Photos", offer_photos_path %></li>
            <li><%= link_to "Pricing & Terms", edit_offer_pricing_path %></li>
          </ul>
        </div>
        <h2 class="text-center">Photos</h2>
        <hr class=" offer-hr">


        <ul class="row thumbnails list-unstyled">
          <% @photos.each do |photo| %>
            <li class="col-lg-2">
          <div class="thumbnail">
            <%= image_tag photo.image.url(:thumb) %>
            <%= link_to "Edit |", edit_offer_photo_path(photo.offer_id,photo), class: "disabled" %>
            <%= link_to " Delete", offer_photo_path(photo.offer_id,photo), :method => "delete"  %>
          </div>
          </li>
        <% end %>
        </ul>

        <div class="container photos">
          <%= s3_uploader_form callback_url: offer_photos_url,id: "s3_uploader",callback_param: "photo[direct_upload_url]",expiration: 24.hours.from_now.utc.iso8601,max_file_size: 100.megabytes do %>
            <%= file_field_tag :file, multiple: true %>
          <% end %>
            <div id="uploads_container"></div>
            <script id="template-upload" type="text/x-tmpl">
<div id="image_{%=o.unique_id%}" class="upload">
  <h5>{%=o.name%}</h5>
  <div class="progress progress-striped active"><div class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
</div>
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
