Id: {{input type="text" disabled="true" class="form-control" value=model.id}}<br/>
Visiblity: {{input type="text" class="form-control" value=model.visiblity}}<br/>
Email: {{input type="text" class="form-control" value=model.email}}<br/>
Contact Phone: {{input type="text" class="form-control" value=model.contact_phone}}<br/>
Alternate Contact Phone: {{input type="text" class="form-control" value=model.contact_phone_backup}}<br/>
Property Type: {{input type="text" class="form-control" value=model.object_type}}<br/>
Property Size: {{input type="text" class="form-control" value=model.size}}<br/>
Size in {{input type="text" class="form-control" value=model.size_type}}<br/>
No. of bathrooms {{input type="text" class="form-control" value=model.bathroom_count}}<br/>
Maximum Accommodation {{input type="text" class="form-control" value=model.max_guest_count}}<br/>
No of Beds {{input type="text" class="form-control" value=model.bed_count}}<br/>
No of bedrooms {{input type="text" class="form-control" value=model.bedroom_count}}<br/>
Bed Type {{input type="text" class="form-control" value=model.bed_type}}<br/>
Should we do marketing {{input type="text" class="form-control" value=model.allow_marketing}}<br/>
Address line 1{{input type="text" class="form-control" value=model.street}}<br/>
Room no. and building name:{{input type="text" class="form-control" value=model.street_no}}<br/>
Address line 2: {{input type="text" class="form-control" value=model.address_addon}}<br/>
City: {{input type="text" class="form-control" value=model.city}}<br/>
Zip: {{input type="text" class="form-control" value=model.zip}}<br/>
Country code ISO: {{input type="text" class="form-control" value=model.country_code_iso}}<br/>
Currency: {{input type="text" class="form-control" value=model.currency}}<br/>
Per night rate: {{input type="text" class="form-control" value=model.nightly_rate_amount}}<br/>
Weekly rate: {{input type="text" class="form-control" value=model.weekly_rate_amount}}<br/>
Monthly rate: {{input type="text" class="form-control" value=model.monthly_rate_amount}}<br/>
Extra guest charge amount: {{input type="text" class="form-control" value=model.extra_guest_charge_amount}}<br/>
Per night rate is for: {{input type="text" class="form-control" value=model.included_guest_count}}<br/>
Cleaning etc rate: {{input type="text" class="form-control" value=model.service_charge_amount}}<br/>
cancellation policy: {{input type="text" class="form-control" value=model.cancelation_policy}}<br/>
Minimum stay: {{input type="text" class="form-control" value=model.min_nights}}<br/>
maximum stay: {{input type="text" class="form-control" value=model.max_nights}}<br/>
checkin after: {{input type="text" class="form-control" value=model.checkin_after}}<br/>
Checkout before:{{input type="text" class="form-control" value=model.checkout_before}}<br/>
latitude: {{input type="text" class="form-control" value=model.confidential_lng}}<br/>
longitude: {{input type="text" class="form-control" value=model.confidential_lat}}<br/>
geo precision: {{input type="text" class="form-control" value=model.geo_precision}}<br/>
User Id: {{input type="text" class="form-control" value=model.user.id}}<br/>
Is verified: {{input type="text" class="form-control" value=model.is_verified}}<br/>
{{#each translation in model.translations}}
Title: {{input type="text" class="form-control" value=translation.title}}<br/>
Description: {{input type="text" class="form-control" value=translation.description}}<br/>
{{/each}}
<button {{action "saveChanges" model}}>Submit</button>