{{model.firstname}}<br />
{{model.lastname}}<br />
{{#each offer in model.offers }}
{{offer.translations.first.title}}
{{#each translation in offer.translations}}<br />
<li>{{#link-to 'offer' offer}}{{translation.title}}{{/link-to}}</li>
{{/each}}
{{/each}}
<label for="email"> Email: </label>
{{input type="text" class="form-control" value=model.email}}<br />
<button {{action "saveChanges" model}}>Submit</button>
