{{model.firstname}}<br />
{{model.lastname}}<br />
{{#each offer in model.offers }}
{{#each translation in offer.translations}}<br />
{{translation.title}}
{{/each}}
{{/each}}
<label for="email"> Email: </label>
{{input type="text" class="form-control" value=model.email}}<br />
<button {{action "saveChanges" model}}>Submit</button>
