<% content_for :body do %>
<div class="row">
  <div class="container">
  <div class="col-sm-4">
    <h1>All users</h1>
    <ul>
    <% @users.each do |user|%>
      <li>
        <%= user.firstname %>
      </li>
      <% end %>
    </ul>
  </div>
    <div class="col-sm-8">
      <%= simple_form_for(:user, :defaults => { :wrapper_html => {:class => 'form-group'} },:as => :user, :url => 'admin/users/create') do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :firstname, :required => false, placeholder: 'First Name' , :input_html => { :class => 'form-control' }%>
        <%= f.input :lastname, :required => false ,placeholder: 'Last Name', :input_html => { :class => 'form-control' }%>
        <%= f.input :email, :required => false ,  placeholder:'Email', :input_html => { :class => 'form-control' }%>
        <%= f.input :phone, :required => false ,  placeholder:'Phone', :input_html => { :class => 'form-control' }%>
        <%= f.hidden_field :lister_id, :required => false ,  :input_html => { :class => 'form-control' }%>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Create new User", class: 'btn btn-success btn-block' %>
      </div>
      <% end %> 
    </div>
  </div>
</div>
<% end %>