<% content_for :body do %>
<div style="background: #e3e3e3;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <li><%= link_to "Dashboard",dashboard_path %></li>
          <li class="active"><%= link_to "My Inbox", inquiries_path %></li>
          <li><%= link_to "My Listings", offers_path %></li>
          <li><%= link_to "My Trips", trips_path %></li>
          <li><%= link_to "Profile settings", edit_user_registration_path%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="main" style="margin-top:0px;">
        <h2 class="text-center">Inbox</h2>
        <hr class=" offer-hr">
        <% @inquiries.each do |inquiry| %>
          <div class="row">
          <% if current_user == inquiry.guest %>
            <div class="col-sm-2">
            <%= image_tag inquiry.host.avatar.url(:medium_center), class: "img-responsive"  %>
          </div>
          <div class="col-sm-2">
            <div class="row" style="padding-top:30px;">
              <%= inquiry.host.firstname  %>
            </div>
            <div class="row" style="padding-top:10px;">
              <%= distance_of_time_in_words_to_now inquiry.messages.last.created_at  %> ago.
            </div>
          </div>
        <% elsif current_user == inquiry.host %>
            <div class="col-sm-2">
            <%= image_tag inquiry.guest.avatar.url(:medium_center), class: "img-responsive"  %>
          </div>
        <% end %>
          <div style="padding-top:30px;">
            <div>
              <%= link_to inquiry.messages.first.content.truncate(100).titlecase, inquiry_path(inquiry)  %>
            </div>
            <div>
              <%= inquiry.check_in  %> - <%= inquiry.check_out  %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
