<% content_for :body do %>
  <h2>Agent Bookings</h2>
 <ul class="nav nav-tabs nav-justified" role="tablist">
    <li ><a href="#">Dashboard</a></li>
    <li><%= link_to 'Inbox', inquiries_path %></li>
      <li><%= link_to 'My Trips', trips_path %></li>
      <li><%= link_to 'My Properties', offers_path  %></li>
      <li><%= link_to 'My Profile', edit_user_registration_path %></li>
      <li class="active"><a href="#home" role="tab" data-toggle="tab" >Agent Payout</a></li>
  </ul>
 <div class="container">
 <div class="row" style="padding-top:30px;">
   <div class="col-md-2">
      </div>
    <div class="col-md-10">
      <h3 class="text-center" style="padding-top:30px;color:#111;">Your Payout Details</h3>
      <hr />
      <% if @payouts %>

  <table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Booking Id</th>
      <th> Trip Id</th>
      <th> Guest name</th>
      <th>No of Guest</th>
      <th>No of Nights</th>
      <th>Property Link</th>
      <th>Total Amount</th>
      <th>Status </th>
      <th> Transfer No</th>
      <th> Commission</th>
    </tr>
  </thead>
  <tbody>
  <% @payouts.each do |payout| %>
  <tr>
    <td>
      <%= payout.booking_id %>
    </td>
    <td>
      <%= payout.trip_id %>
    </td>

<td>
      <%= User.find(payout.trip.guest_id).complete_name %>
    </td>

<td>
      <%= payout.trip.guest_count %>
    </td>

<td>
      <%= (payout.trip.checkout - payout.trip.checkin).to_i %>
    </td>
<td>
      <%= link_to payout.trip.offer_id, offer_path(payout.trip.offer_id) %>
    </td>
    <td>
      <%= payout.booking.total %>
    </td>
    <td>
      <%= payout.status %>
    </td>
    <td>
      <%= payout.transfer_no %>
    </td>
    <td>
      <%= payout.commission %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
You Dont have any payouts yet
<% end %>
</div>

</div>
</div>
<% end %>
<% content_for :js do %>
<% end %>
