<% content_for :title do %>
Martin Garrix is coming to Mumbai / Noida, are you?
<% end %>
<%content_for :body do%>
<style type="text/css" media="all">
  .invite_bg{
    background: url(<%= image_path('afrojack.jpg')  %>) center center;
    min-height: 600px;
    background-size: cover;
    min-zoom: inherit;
    background-color: bisque;
    background-blend-mode: multiply;
  }
  .invite-button{
    text-align: center;
    margin: 20px 0px;
  }
  .facebook-invite{
    background-color: #3B5998;
    border: 1px solid #3b5998;
    color:white;
  }
  .facebook-invite :hover{
    backround-color: #3B5999;
  }
  .invite-overlay{
    min-height: 600px;
    background-color:rgba(0,0,0,0.5);
  }
  .invite-header{
    padding-top: 150px;
    text-align: center;
    font-size: 24px;
    color: white;
    line-height: 1;
    font-weight: 600;
    text-shadow: black 0px 0px 15px;
  }
</style>
<div class="invite_bg">
  <div class="invite-overlay">
  <h3 class="invite-header">AfroJack is coming to Mumbai and you could be there too!</h3>
    <div class="container">
      <div class="row">
        <p class="text-center" style="color: white;">Complete the Following actions to participate.</p>
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-5"><%= link_to "1. Refer via Gmail", "contacts/gmail/", class: 'btn btn-danger btn-block invite-button' %></div>
        </div><div class="row">
        <div class="col-sm-2 col-sm-offset-5">
         <a class="btn btn-block facebook-invite invite-button" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=585');return false;" href="http://www.facebook.com/dialog/feed?app_id=414645321969009&link=http://roomnhouse.com/contest&display=popup&redirect_uri=http://roomnhouse.com/contest&name=AfroJack is coming to Mumbai are you?&description Check out roomnhouse's contest to win tickets to AfroJack.&picture=<%= image_path('afrojack-fb.png') %>" target="_blank">2. Share via Facebook</a> </div>
        </div><div class="row">
         <div class="col-sm-2 col-sm-offset-5">
           <a class="btn btn-block btn-info invite-button" href="https://twitter.com/intent/tweet?url=<%= "http://roomnhouse.com/contest"  %>&hashtags=sunburnwithrnh,mumbai&via=roomnhouse&text=<%=URI.encode("AfroJack, is coming to Mumbai, I'm going, are you?")  %>">3. Share it on Twitter</a>
         </div>
       </div>
     </div>
   </div>
 </div>
 <%end%>
