<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Sunburn Goa 2014 | Roomnhouse</title>
<meta name="description" content="Room N House helps you save when finding a place to stay in India. Rent and save on apartments, private rooms, or villas directly from the owners for your next vacation."/>
<meta property="fb:app_id" content="414645321969009">
<meta property="og:site_name" content="RoomnHouse">
<!-- rOQ0Yc6uutFk52GNSrVseQJBCdw -->
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "application",  :media => "all"  %>
</head>
<body>
<video src="http://dm1w09da1rt65.cloudfront.net/assets/Sunburn-b49467bf21a667a2b891d67df0285fdc.mp4" preload="auto" autoplay="autoplay" loop mutted class="sleep-video"></video>
<style type="text/css" media="all">
body, html {
  padding: 0;
  margin:0;
  height: 100%;
}
.modal-dailog{
width: 900px;
}
.sleep-video {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.section {
  width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  z-index: 2;
}

.package-offer-image{
  width:100%;
  padding:0px;
  height: 200px;
  margin:0px;
}
.img-responsive{
  border-radius:0px;
  border:none;
}
.sunburnlogo{
  background-image: <%= image_path("sunburnlogo.png")  %>;
  background-repeat: no-repeat;
  background-size: 100%;

}
</style>
<div class="sunburn section">
  <div class="container">
    <div class="row" style="
          height: 30px;
          ">
            <div class="col-lg-3">
              <div class="logo" style="
              height: 100px;
              "></div>
              </div>
              </div>
              <div class="row" style="
                    height: 30px;
                    ">
                      <div class="col-lg-offset-4 col-lg-4">
                        <div class="sunburnlogo" style="
                        height: 200px;
                        "></div>
                        </div>
                        </div>
    <div class="row" style="margin-top:20%;">
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a data-toggle="modal" data-target="#gold" href="">
          <h1 class="text-center" style="padding-top:100px;">Gold</h1>
          <h3 class="text-center">3N/4D starting from 15000 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="" data-toggle="modal" data-target="#silver">
          <h1 class="text-center" style="padding-top:100px;">Silver</h1>
          <h3 class="text-center">3N/4D starting from 15000 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="" data-toggle="modal" data-target="#bronze">
          <h1 class="text-center" style="padding-top:100px;">Bronze</h1>
          <h3 class="text-center">3N/4D starting from 15000 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="/search/vagator-goa">
          <h1 class="text-center" style="padding-top:100px;">Custom Stays</h1>
          <h3 class="text-center">3N/4D starting from 15000 per person.</h3>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <!-- Modal -->
    <div class="modal fade" id="gold" tabindex="-1" role="dialog" aria-labelledby="goldLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="goldLabel">Gold Packages</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package1, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package1.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package1offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package1.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package1.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package7, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package7.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package7offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package7.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package7.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package8, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package8.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package8offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package8.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package8.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->

    <!-- Modal -->
    <div class="modal fade" id="silver" tabindex="-1" role="dialog" aria-labelledby="silverLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="silverLabel">Silver Packages</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package2, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package2.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package2offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package2.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package2.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package3, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package3.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package3offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package3.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package3.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->

    <!-- Modal -->
    <div class="modal fade" id="bronze" tabindex="-1" role="dialog" aria-labelledby="bronzeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="bronzeLabel">Bronze Packages</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package4, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package4.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package4offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package4.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package4.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package5, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package5.package_rate%>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package5offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package5.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package5.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package6, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package6.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">per person</div>
                  </div>
                </div>
                <%= image_tag @package6offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="title">Only <%= @package6.unit_count %> packages left.</div>
                  <div class="location">For 3 nights and 4 days at <%= @package6.package_rate  %> per person</div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->
  </div>
  <!--/Row -->
</div>

<%= javascript_include_tag "application" %>
<script type="text/javascript" charset="utf-8">
;(function($) {

    var pluginName = "cover";

    function Cover (element, options) {
    this.element = $(element);

    $.extend(this, {
container: this.element.parent(),
ratio: this.element.height() / this.element.width()
}, options);

    this.set();
    }

    Cover.prototype = {
set: function() {
var height = this.container.height();
var width = this.container.width();
var fillWidth = this.ratio >= (height / width);

if (fillWidth && !this.fillingWidth) {
  this.fillingWidth = true;
  this.element.css('width', '100%').css('height', 'auto');
}

if (!fillWidth) {
  this.fillingWidth = false;
  this.element.css('width', 'auto').css('height', '100%');
}
}
};

// Wrapper preventing multiple instantiations
$.fn[pluginName] = function(options) {
  return this.each(function() {
      if (!$.data(this, "plugin_" + pluginName)) {
      $.data(this, "plugin_" + pluginName, new Cover(this, options));
      }

      // Allow access to 'set' method
      if (options === 'set') {
      cover = $.data(this, 'plugin_' + pluginName).set();
      }
      });
};

})(jQuery);
$(function() {
    $('video').cover({
ratio: 1080 / 1920
});

    $(window).resize(function() {
      $('video').cover('set');
      });
    });

</script>
</body>
</html>

