<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sunburn Goa 2014 | Roomnhouse</title>
<meta name="description" content="Room N House helps you save when finding a place to stay in India. Rent and save on apartments, private rooms, or villas directly from the owners for your next vacation."/>
<meta property="fb:app_id" content="414645321969009">
<meta property="og:site_name" content="RoomnHouse">
<!-- rOQ0Yc6uutFk52GNSrVseQJBCdw -->
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "application",  :media => "all"  %>
</head>
<body>
<video src="http://dm1w09da1rt65.cloudfront.net/assets/Sunburn-b49467bf21a667a2b891d67df0285fdc.mp4" preload="auto" autoplay="autoplay" loop mutted class="sleep-video"></video>
<style type="text/css" media="all">
body, html {
  padding: 0;
  margin:0;
  height: 100%;
}
.modal-dialog{
  width: 900px !important;
}
.sleep-video {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.section {
  width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  z-index: 2;
}

.package-offer-image{
  width:100%;
  padding:0px;
  height: 200px;
  margin:0px;
}
.img-responsive{
  border-radius:0px;
  border:none;
}
.sunburnlogo{
  background-image: url(<%= image_path("sunburnlogo.png")  %>);
  background-repeat: no-repeat;
  background-size: 100%;

}
</style>
<div class="sunburn section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h4 style="color: white;padding-left:30px; text-shadow: black 0px 0px 5px;">Official Accommodation partner</h4>
      </div>
      <div class="col-sm-7 pull-right text-right">
        <div class="col-sm-2 col-sm-offset-8">
        <div class="fb-share-button" data-href="http://roomnhouse.com/sunburngoa2014"></div>
        </div>
        <div class="col-sm-2">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Book your stay for #sunburngoa only at" data-via="roomnhouse" data-hashtags="sunburngoa2014">Tweet</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="logo" style="height: 100px;width:100%;"></div>
      </div>
    </div>
    <div class="row" style="">
      <div class="col-lg-offset-4 col-lg-4">
        <div class="sunburnlogo" style="height: 100px;width:100%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <h1 class="text-center" style="color:white;text-shadow:black 0px 0px 5px;">Stay Packages</h1>
      </div>
    </div>
    <div class="row" style="margin-top:30px;">
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a data-toggle="modal" data-target="#gold" href="">
          <h1 class="text-center" style="padding-top:100px;">Gold</h1>
          <h3 class="text-center">3N/4D starting from 15000 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="" data-toggle="modal" data-target="#silver">
          <h1 class="text-center" style="padding-top:100px;">Silver</h1>
          <h3 class="text-center">3N/4D starting from 4500 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="" data-toggle="modal" data-target="#bronze">
          <h1 class="text-center" style="padding-top:100px;">Bronze</h1>
          <h3 class="text-center">3N/4D starting from 3500 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="/search/vagator-goa">
          <h1 class="text-center" style="padding-top:100px;">Custom Stays</h1>
          <h3 class="text-center"></h3>
        </a>
      </div>
    </div>
    <div class="row" style="margin-top:170px;">
      <div class="col-sm-3 pull-right">
        <a style="color:white;" data-toggle="modal" data-target="#terms" class="text-right">Terms & conditions </a>
        <a style="color:white;" data-toggle="modal" data-target="#faqs" class="text-right"> | Faqs</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <!-- Modal -->
    <div class="modal fade" id="faqs" tabindex="-1" role="dialog" aria-labelledby="faqsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="faqsLabel">Frequently asked questions</h4>
          </div>
          <div class="modal-body">
            <li>Q. What are Early Bird Tickets</li>
            <li>A. Early bird tickets are a 3 day General Admission (G.A.) tickets which will be available at a special price for a limited period. You can save up to 25% if you buy them on 11th September -12pm (IST) on www.sunburn.in</li>
            <li>Q. How and where do I collect my tickets/wristbands ?</li>
            <li>A. Ticket are to be collected from the Ticket Booth at the venue over the period of the event (27-28-29 December). </li>
            You will need photo ID proof, print out of the confirmation email from ShowClix or Book My Show & a letter of authorization, BOTH from the cardholder (if the card used to purchase the ticket is not yours). 
            Entry / Wrist bands will be given upon handover of the ticket. We would also need a bank transaction receipt if you have booked the tickets through 'Online Banking'.
            <li>Q. Which debit/credit cards can i use to buy the early bird tickets?</li> 
            <li>We accept all debit/credit cards including MasterCard, Visa, Maestro, American Express & Diners Card</li>
            <li>Q. What documents should I bring if I have booked a ticket through a friends or parents debit or credit card</li>
            <li>A. Printout of the confirmation email from Showclix  or from Book My Show, Photo copy of Debit/Credit card used. Photocopy of Valid Photo ID of the debit/credit card holder Valid PhotoID of the person using the ticket. </li>
            Authorization Letter (Format mentioned at bottom of the page)
            <li>Q. Isthere any other verification that I can provide instead of a copy of mydebit/credit card</li>
            <li>A. No, only these documents mentioned above, will be used for verification purposes.</li>
            <li>Q.Can I swap/upgrade a G.A. ticket to VIP ticket</li>
            <li>A. Once bought, tickets cannot be swapped or upgraded.</li>
            <li>Q. Will I have to bepresent at the venue when the tickets are being collected</li>
            <li>A. Yes, you will have to be present at the venue when collecting your ticket. The only exception will be made if you have used someone else's credit card to make the purchase - you will need an authorized letter from the credit card holder (Format mentioned at bottom of the page)</li>
            <li>Q. Can I buy tickets using cash?</li>
            <li>A. Yes, you can buy your tickets in cash from our authorized ticketing partners.</li> 
            <li>Q. How old do I have tobe to enter Sunburn Goa 2014 ?</li>
            <li>A. You must be of 18years and above / above the LEGAL Drinking Age (LDA).</li>
            <li>Q. Will I be able toget a refund for the tickets if I do not attend the festival</li>
            <li>A. No refund will be provided for tickets even in case of any rescheduling.</li>
            <li>Q. Will I need to carrya photo id along for ticket verification purposes</li>
            <li>A. Yes. A valid Photo ID i.e. PAN Card, Passport, Driver's License etc.</li>
            <li>Q. Will my VIP Ticketallow me backstage</li>
            <li>A. No, there is no backstage access with any ticket.</li>
            <li>Q. Do the tickets giveaccess to free food and beverages</li>
            <li>A. Early bird Tickets are for general admission only. No free alcohol or food would be provided against the tickets. However, you can buy the same inside the venue or at the time of ticket purchase online.</li>
            <li>Q. Are there additional charges for booking a ticket online ?</li>
            <li>A. Yes, a nominal service change will be added per transaction.</li>
            <li>Q. What is the maximum number of tickets I can purchase ?</li>
            <li>A. A maximum of 10 tickets per transaction can be purchased.</li>
            <li>Q. What if I am reaching the venue later, can I use separate copies of the same ticket for the non-cardholders to enter separately</li>
            <li>A. No, unfortunately it is not possible.</li>
            <li>Q. What should I do if I purchase a ticket, but live outside India?</li>
            <li>A. Please provide a copy of your passport and credit card/debit card at the ticketing booth at the venue for your tickets.</li>
            <li>Q. Where can I read ticketing 'Terms & Conditions' ?</li>
            <li>A. The ticket terms and conditions will be provided before you purchase your ticket.</li>
            <li>Q. Can I re-enter the venue during the day if I leave?</li>
            <li>A. Yes, as long as your entry wristband is intact and not tampered with, you can re-enter the venue through the official entry points at any time during event hours</li>
            <li>Q. Are there any travel packages available for Sunburn Goa 2014?</li>
            <li>A. Yes, we will have travel packages for Sunburn Goa 2014 which will be released soon. Stay tuned for more details.</li>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->
  </div>


  <div class="row ">
    <!-- Modal -->
    <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="termsLabel">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <li>1. A ticket shall not be a valid ticket if the barcode or hologram has been tampered with.</li>
            <li>2. No refund on a purchased ticket is possible, even in case of any rescheduling.</li>
            <li>3. This is a wrist-band access festival. Wrist-bands will be issued at the festival and will enable access to all stages for designated dates. Please keep your wrist-band on for all days that you have purchased tickets for. They are washable. In case wrist-bands are taken off, a replacement wrist-band will not be issued.</li>
            <li>4. Unlawful resale (or attempted unlawful resale) of a ticket would lead to seizure or cancellation of that ticket without refund or other compensation.</li>
            <li>5. Wristbands removed or tampered with will be rendered invalid and WILL NOT be replaced.</li>
            <li>6. Duplicate tickets will not be issued for lost or stolen tickets.</li>
            <li>7. Entry permitted to guests above the age of 18 years. Alcohol will be served to guests above the legal drinking age (LDA) & on display of valid age proof. LDA bands will be provided at the venue on proof of Age.</li>
            <li>8. Each ticket admits one person only.</li>
            <li>9. Artist line up and billed attractions may be subject to change.</li>
            <li>10. Organizers reserve the right to perform security check on invitees/member of audience at the entry point for security reasons.</li>
            <li>11. Organizers or any of its agent, officers, employees shall not be responsible for any injury, damage, theft, losses or cost suffered at or as a result of the event of any part of it.</li>
            <li>12. Parking near or at the festival premises is at the risk of the vehicle owner. Organiser will not hold responsibility for any damage or theft of any vehicles within the stipulated parking premises of the festival.</li>
            <li>13. Consumption and sale of illegal substances is strictly prohibited.</li>
            <li>14. Arms and ammunition, eatables, bottled water, beverages, alcohol are not allowed from outside the festival. Food and beverages will be available inside the festival.</li>
            <li>15. This ticket permits entry to the festival grounds only. Any After Dark parties may have other ticketing requirements and may be sold separately.</li>
            <li>16. Rights of admission reserved, even to valid ticket holders.</li>
            <li>17. Organizers are not responsible for any negative effects of food items or drinks consumed in the venue by festival guests; Sunburn encourages guests to drink responsibly and in moderation.</li>
            <li>18. Persons suspected of carrying items that may be used in an offensive or dangerous manner, or carrying out illegal activities within the site may be searched.</li>
            <li>19. First aid/medical facilities will be provided, however, the organizers do not take any responsibility for any problems arising.</li>
            <li>20. Any disputes to be settled under Mumbai jurisdiction courts only.</li>
            <li>21. The holder of this ticket herby grants organizers the right to use, in perpetuity, all or any part of the recording of any tape made of holder's appearance on any channel for broadcast in any and all media globally and for advertising, publicity and promotion relating hereto.</li>
            <li>22. The organizers reserve the right without refund or other recourse, to refuse admission to anyone who is found to be in breach of these terms and conditions including, if necessary, ejecting the holder/s of the ticket from the venue after they have entered the ground.</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Modal -->
</div>

<div class="row ">
  <!-- Modal -->
  <div class="modal fade" id="gold" tabindex="-1" role="dialog" aria-labelledby="goldLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="goldLabel">Gold Packages</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-xs-6">
              <%= link_to @package1, class: "thumbnail" do %>
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package1.package_rate  %>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package1offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                <div class="location"> <%= @package1.pax_count  %> to <%= @package1.max_guest  %> Guests.</div>
              </div>
            <% end %>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-6">
              <%= link_to @package7, class: "thumbnail" do %>
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package7.package_rate  %>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package7offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                <div class="location"> <%= @package7.pax_count  %> to <%= @package7.max_guest  %> Guests.</div>
              </div>
            <% end %>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-6">
              <a href="" disabled class="disabled thumbnail">
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package8.package_rate  %>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package8offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                  <div class="location" style="color:#d9534f">Sold Out.</div>
              </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
              <a href="" disabled class="disabled thumbnail">
                <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      15000
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <img alt="E-2" class="package-offer-image img-responsive" src="https://dm1w09da1rt65.cloudfront.net/photos/images/000/004/308/medium/ShalomVilla_2.jpg?1397385760">
                <div class="caption">
                  <div class="location" style="color:#d9534f">Sold Out.</div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/Modal -->

  <!-- Modal -->
  <div class="modal fade" id="silver" tabindex="-1" role="dialog" aria-labelledby="silverLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="silverLabel">Silver Packages</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-xs-6">
              <%= link_to @package2, class: "thumbnail" do %>
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package2.package_rate  %>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package2offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                <div class="location"> <%= @package2.pax_count  %> to <%= @package2.max_guest  %> Guests.</div>
              </div>
            <% end %>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-6">
              <a href="" disabled class="disabled thumbnail">
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package3.package_rate  %>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package3offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                  <div class="location" style="color:#d9534f">Sold Out.</div>
              </div>
              </a>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-6">
              <a href="" disabled class="disabled thumbnail">
                <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      6000
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <img alt="E-2" class="package-offer-image img-responsive" src="https://dm1w09da1rt65.cloudfront.net/photos/images/000/001/902/medium/6-two-bedroom-apartment.jpg?1393324059">
                <div class="caption">
                  <div class="location" style="color:#d9534f">Sold Out.</div>
                </div>
              </a>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-6">
              <a href="" disabled class="disabled thumbnail">
                <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      8000
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <img alt="E-2" class="package-offer-image img-responsive" src="https://dm1w09da1rt65.cloudfront.net/photos/images/000/002/551/medium/Turiya_20chitra-formal-dining-area-big.jpg?1394901795">
                <div class="caption">
                  <div class="location" style="color:#d9534f">Sold Out.</div>
                </div>
              </a>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Modal -->

  <!-- Modal -->
  <div class="modal fade" id="bronze" tabindex="-1" role="dialog" aria-labelledby="bronzeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="bronzeLabel">Bronze Packages</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-xs-6">
              <%= link_to @package4, class: "thumbnail" do %>
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package4.package_rate  %>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package4offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                <div class="location"> <%= @package4.pax_count  %> to <%= @package4.max_guest  %> Guests.</div>
              </div>
            <% end %>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
              <%= link_to @package5, class: "thumbnail" do %>
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package5.package_rate%>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package5offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                <div class="location"> <%= @package5.pax_count  %> to <%= @package5.max_guest  %> Guests.</div>
              </div>
            <% end %>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-6">
              <%= link_to @package6, class: "thumbnail" do %>
                <div>
                <div class="price-box">
                  <div class="price">
                    <sup><i class="icon-inr"></i></sup>
                    <%= @package6.package_rate  %>
                    <sup>INR</sup>
                  </div>
                  <div class="price-info">3 Days / person</div>
                </div>
              </div>
              <%= image_tag @package6offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
              <div class="caption">
                <div class="location"> <%= @package6.pax_count  %> to <%= @package6.max_guest  %> Guests.</div>
              </div>
            <% end %>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
              <a href="" disabled class="disabled thumbnail">
                <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      4500
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <img alt="E-2" class="package-offer-image img-responsive" src="https://dm1w09da1rt65.cloudfront.net/photos/images/000/003/474/medium/GoHolidayPentHouseApartment1.jpg?1395842288">
                <div class="caption">
                  <div class="location" style="color:#d9534f">Sold Out.</div>
                </div>
              </a>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Modal -->
</div>
<!--/Row -->
</div>

<%= javascript_include_tag "application" %>
<script type="text/javascript" charset="utf-8">
;(function($) {

    var pluginName = "cover";

    function Cover (element, options) {
    this.element = $(element);

    $.extend(this, {
container: this.element.parent(),
ratio: this.element.height() / this.element.width()
}, options);

    this.set();
    }

    Cover.prototype = {
set: function() {
var height = this.container.height();
var width = this.container.width();
var fillWidth = this.ratio >= (height / width);

if (fillWidth && !this.fillingWidth) {
  this.fillingWidth = true;
  this.element.css('width', '100%').css('height', 'auto');
}

if (!fillWidth) {
  this.fillingWidth = false;
  this.element.css('width', 'auto').css('height', '100%');
}
}
};

// Wrapper preventing multiple instantiations
$.fn[pluginName] = function(options) {
  return this.each(function() {
      if (!$.data(this, "plugin_" + pluginName)) {
      $.data(this, "plugin_" + pluginName, new Cover(this, options));
      }

      // Allow access to 'set' method
      if (options === 'set') {
      cover = $.data(this, 'plugin_' + pluginName).set();
      }
      });
};

})(jQuery);
$(function() {
    $('video').cover({
ratio: 1080 / 1920
});

    $(window).resize(function() {
      $('video').cover('set');
      });
    });

</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=414645321969009&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>

