<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sunburn Goa 2014 | Roomnhouse</title>
<meta name="description" content="Room N House helps you save when finding a place to stay in India. Rent and save on apartments, private rooms, or villas directly from the owners for your next vacation."/>
<meta property="fb:app_id" content="414645321969009">
<meta property="og:site_name" content="RoomnHouse">
<!-- rOQ0Yc6uutFk52GNSrVseQJBCdw -->
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "application",  :media => "all"  %>
</head>
<body>
<video src="http://dm1w09da1rt65.cloudfront.net/assets/Sunburn-b49467bf21a667a2b891d67df0285fdc.mp4" preload="auto" autoplay="autoplay" loop mutted class="sleep-video"></video>
<style type="text/css" media="all">
body, html {
  padding: 0;
  margin:0;
  height: 100%;
}
.modal-dialog{
  width: 900px !important;
}
.sleep-video {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.section {
  width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  z-index: 2;
}

.package-offer-image{
  width:100%;
  padding:0px;
  height: 200px;
  margin:0px;
}
.img-responsive{
  border-radius:0px;
  border:none;
}
.sunburnlogo{
  background-image: url(<%= image_path("sunburnlogo.png")  %>);
  background-repeat: no-repeat;
  background-size: 100%;

}
</style>
<div class="sunburn section">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4 style="color: white;padding-left:30px; text-shadow: black 0px 0px 5px;">Official Accommodation partner</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="logo" style="
          height: 150px;width:100%;
          "></div>
      </div>
    </div>
    <div class="row" style="
      ">
      <div class="col-lg-offset-4 col-lg-4">
        <div class="sunburnlogo" style="
          height: 100px;width:100%;
          "></div>
      </div>
    </div>
    <div class="row" style="margin-top:50px;">
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a data-toggle="modal" data-target="#gold" href="">
          <h1 class="text-center" style="padding-top:100px;">Gold</h1>
          <h3 class="text-center">3N/4D starting from 15000 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="" data-toggle="modal" data-target="#silver">
          <h1 class="text-center" style="padding-top:100px;">Silver</h1>
          <h3 class="text-center">3N/4D starting from 4500 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="" data-toggle="modal" data-target="#bronze">
          <h1 class="text-center" style="padding-top:100px;">Bronze</h1>
          <h3 class="text-center">3N/4D starting from 3500 per person.</h3>
        </a>
      </div>
      <div class=" col-sm-offset-1 col-sm-2" style="height:200px;background:rgba(0,0,0,0.75);">
        <a href="/search/vagator-goa">
          <h1 class="text-center" style="padding-top:100px;">Custom Stays</h1>
          <h3 class="text-center"></h3>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2">
          <a href="" class="btn btn-block btn-primary">Share on Facebook </a>
        </div>
        <div class="col-sm-2">
          <a href="" class="btn btn-block btn-primary">Share on Twitter </a>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" name="email" id="" value="" class="form-control" placeholder="Email of a friend" />
          </div>
        </div>
        <div class="col-sm-2">
          <a href="" class="btn btn-block btn-primary">Send to a Friend </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 pull-right">
        <a href="faqs" class="text-right">Faqs</a>
      </div>
      <div class="col-sm-2 pull-right">
        <a href="terms" class="text-right">Terms & conditions</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <!-- Modal -->
    <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="termsLabel">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <li>1. A ticket shall not be a valid ticket if the barcode or hologram has been tampered with.</li>
              <li>2. No refund on a purchased ticket is possible, even in case of any rescheduling.</li>
              <li>3. This is a wrist-band access festival. Wrist-bands will be issued at the festival and will enable access to all stages for designated dates. Please keep your wrist-band on for all days that you have purchased tickets for. They are washable. In case wrist-bands are taken off, a replacement wrist-band will not be issued.</li>
              <li>4. Unlawful resale (or attempted unlawful resale) of a ticket would lead to seizure or cancellation of that ticket without refund or other compensation.</li>
              <li>5. Wristbands removed or tampered with will be rendered invalid and WILL NOT be replaced.</li>
              <li>6. Duplicate tickets will not be issued for lost or stolen tickets.</li>
              <li>7. Entry permitted to guests above the age of 18 years. Alcohol will be served to guests above the legal drinking age (LDA) & on display of valid age proof. LDA bands will be provided at the venue on proof of Age.</li>
              <li>8. Each ticket admits one person only.</li>
              <li>9. Artist line up and billed attractions may be subject to change.</li>
              <li>10. Organizers reserve the right to perform security check on invitees/member of audience at the entry point for security reasons.</li>
              <li>11. Organizers or any of its agent, officers, employees shall not be responsible for any injury, damage, theft, losses or cost suffered at or as a result of the event of any part of it.</li>
              <li>12. Parking near or at the festival premises is at the risk of the vehicle owner. Organiser will not hold responsibility for any damage or theft of any vehicles within the stipulated parking premises of the festival.</li>
              <li>13. Consumption and sale of illegal substances is strictly prohibited.</li>
              <li>14. Arms and ammunition, eatables, bottled water, beverages, alcohol are not allowed from outside the festival. Food and beverages will be available inside the festival.</li>
              <li>15. This ticket permits entry to the festival grounds only. Any After Dark parties may have other ticketing requirements and may be sold separately.</li>
              <li>16. Rights of admission reserved, even to valid ticket holders.</li>
              <li>17. Organizers are not responsible for any negative effects of food items or drinks consumed in the venue by festival guests; Sunburn encourages guests to drink responsibly and in moderation.</li>
              <li>18. Persons suspected of carrying items that may be used in an offensive or dangerous manner, or carrying out illegal activities within the site may be searched.</li>
              <li>19. First aid/medical facilities will be provided, however, the organizers do not take any responsibility for any problems arising.</li>
              <li>20. Any disputes to be settled under Mumbai jurisdiction courts only.</li>
              <li>21. The holder of this ticket herby grants organizers the right to use, in perpetuity, all or any part of the recording of any tape made of holder's appearance on any channel for broadcast in any and all media globally and for advertising, publicity and promotion relating hereto.</li>
              <li>22. The organizers reserve the right without refund or other recourse, to refuse admission to anyone who is found to be in breach of these terms and conditions including, if necessary, ejecting the holder/s of the ticket from the venue after they have entered the ground.</li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->
  </div>

  <div class="row ">
    <!-- Modal -->
    <div class="modal fade" id="gold" tabindex="-1" role="dialog" aria-labelledby="goldLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="goldLabel">Gold Packages</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package1, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package1.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package1offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package1.pax_count  %> to <%= @package1.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package7, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package7.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package7offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package7.pax_count  %> to <%= @package7.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package8, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package8.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package8offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package8.pax_count  %> to <%= @package8.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->

    <!-- Modal -->
    <div class="modal fade" id="silver" tabindex="-1" role="dialog" aria-labelledby="silverLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="silverLabel">Silver Packages</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package2, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package2.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package2offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package2.pax_count  %> to <%= @package2.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package3, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package3.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package3offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package3.pax_count  %> to <%= @package3.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->

    <!-- Modal -->
    <div class="modal fade" id="bronze" tabindex="-1" role="dialog" aria-labelledby="bronzeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="bronzeLabel">Bronze Packages</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package4, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package4.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package4offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package4.pax_count  %> to <%= @package4.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package5, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package5.package_rate%>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package5offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package5.pax_count  %> to <%= @package5.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-6">
                <%= link_to @package6, class: "thumbnail" do %>
                  <div>
                  <div class="price-box">
                    <div class="price">
                      <sup><i class="icon-inr"></i></sup>
                      <%= @package6.package_rate  %>
                      <sup>INR</sup>
                    </div>
                    <div class="price-info">3 Days / person</div>
                  </div>
                </div>
                <%= image_tag @package6offer.photos.first.image.url(:medium), class: "package-offer-image img-responsive" %>
                <div class="caption">
                  <div class="location"> <%= @package6.pax_count  %> to <%= @package6.max_guest  %> Guests.</div>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal -->
  </div>
  <!--/Row -->
</div>

<%= javascript_include_tag "application" %>
<script type="text/javascript" charset="utf-8">
;(function($) {

    var pluginName = "cover";

    function Cover (element, options) {
    this.element = $(element);

    $.extend(this, {
container: this.element.parent(),
ratio: this.element.height() / this.element.width()
}, options);

    this.set();
    }

    Cover.prototype = {
set: function() {
var height = this.container.height();
var width = this.container.width();
var fillWidth = this.ratio >= (height / width);

if (fillWidth && !this.fillingWidth) {
  this.fillingWidth = true;
  this.element.css('width', '100%').css('height', 'auto');
}

if (!fillWidth) {
  this.fillingWidth = false;
  this.element.css('width', 'auto').css('height', '100%');
}
}
};

// Wrapper preventing multiple instantiations
$.fn[pluginName] = function(options) {
  return this.each(function() {
      if (!$.data(this, "plugin_" + pluginName)) {
      $.data(this, "plugin_" + pluginName, new Cover(this, options));
      }

      // Allow access to 'set' method
      if (options === 'set') {
      cover = $.data(this, 'plugin_' + pluginName).set();
      }
      });
};

})(jQuery);
$(function() {
    $('video').cover({
ratio: 1080 / 1920
});

    $(window).resize(function() {
      $('video').cover('set');
      });
    });

</script>
</body>
</html>

