<% content_for :title do  %>
  Advantages of Hosting | Room N House
<% end %>
<% content_for :description do  %>
  "Start making money today by hosting your room with Room N House and renting it out to vacationers. Find a complete list of features and advantages online today!"
<% end %>

<% content_for :body do %>
  <div id="content">
  <div class="content_inner">
    <div class="content_container paddall-5">
      <h1>Why Host</h1>	
      <p>Advantages of hosting with Room n House</p>
    </div>
    <div class="headtext whyhosthd align-center">
      <h1>Hosts <span class="icon-heart red"></span> Room n House</h1>
    </div>
    <div class="content_container white_bg paddall-10 page">
      <div class="whyhost">
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/profile.png"%></div>
            <div class="descript">
              <h3>Profile</h3>
              <p>Learn about &amp; message with potential guests before they book.</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/onlinetrans.png"%></div>
            <div class="descript">
              <h3>Online transactions</h3>
              <p>Room n House handles all payments ensuring you get paid, and on time.</p>
            </div>
          </div>
        </div>
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/support.png"%></div>
            <div class="descript">
              <h3>Customer support</h3>
              <p>Our community loyalty team is available around the clock</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/photo.png"%></div>
            <div class="descript">
              <h3>Free photography</h3>
              <p>We will send a professional photographer at no charge.</p>
            </div>
          </div>
        </div>
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/earnreview.png"%></div>
            <div class="descript">
              <h3>Earn reviews</h3>
              <p>Room n House reviews help you build a real reputation.</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/paymentopt.png"%></div>
            <div class="descript">
              <h3>Payment options</h3>
              <p>Get paid via direct deposit, or check.</p>
            </div>
          </div>
        </div>
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/confirm.png"%></div>
            <div class="descript">
              <h3>Accept/Decline</h3>
              <p>When a request is submitted, you approve who gets to stay.</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/oneclick.png"%></div>
            <div class="descript">
              <h3>1-click listing</h3>
              <p>Post once &amp; your listing is active until you turn it off.</p>
            </div>
          </div>
        </div>
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/multiplelist.png"%></div>
            <div class="descript">
              <h3>Multiple listings</h3>
              <p>Manage listings around the world with one account.</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/cancel.png"%></div>
            <div class="descript">
              <h3>Cancellation policies</h3>
              <p>Choose your flavor, we uphold them for you.</p>
            </div>
          </div>
        </div>
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/1clicklist.png"%></div>
            <div class="descript">
              <h3>Autopost options</h3>
              <p>Send your listing to Facebook &amp; Twitter in 1 click.</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/calender.png"%></div>
            <div class="descript">
              <h3>Calendar</h3>
              <p>Easily manage your availability &amp; reservations.</p>
            </div>
          </div>
        </div>
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/anyplace.png"%></div>
            <div class="descript">
              <h3>List any space</h3>
              <p>Apartments, boats, castles, islands, cabins, and more.</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/email.png"%></div>
            <div class="descript">
              <h3>Mail alerts</h3>
              <p>Get notifications instantly on your mail.</p>
            </div>
          </div>
        </div>
        <div class="whyhost_rows">
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/textalert.png"%></div>
            <div class="descript">
              <h3>Text Alerts</h3>
              <p>Get notification on your mobile phone.</p>
            </div>
          </div>
          <div class="whyhost_boxes">
            <div class="image"><%= image_tag "pics/icons/flixi.png"%></div>
            <div class="descript">
              <h3>Flexible pricing</h3>
              <p>Set seasonal pricing &amp; fees from within your account.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="callaction">
      <a href="/offers/new" class="button">List your place now</a>
      <p>Today's solutions are complicated, difficult to manage.</p>
      <p>Room n house is simple, beautiful and just for you.</p>
    </div>
  </div><!-- end of class="content_inner" -->    
</div><!-- end of id="content" -->
 <% end %>
