<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-RoomnHouse" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Room n House | Accommodation for every budget in India" %></title>
<!-- rOQ0Yc6uutFk52GNSrVseQJBCdw -->
<%= csrf_meta_tags %>
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <![endif]-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDfK1h2PFJnbz1QFkZoQr5w-wn3U2s4KFk&sensor=true&libraries=places"></script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
<% if content_for?(:header) %>
  <%= yield :header %>
<% else %>
  <div id="header">  
  <div class="header_container">
    <div class="content_inner">
      <div class="top_bar">
        <nav>
          <%= link_to "Room n House", root_path, class: "logo float-left" %>
          <%= link_to "List Your Place", new_offer_path, class: "button paddall-5"  %>
          <% if !current_user.present? %>
            <%= link_to "Login", new_user_session_path  %>
          <%= link_to "Signup", new_user_registration_path  %>
        <% else %>
            <div id="dd" class="usermenu"> 
            <i class="icon-user icon-container"></i><%= current_user.firstname %>
          <ul class="dropdown">
              <li><%= link_to "<i class='icon-container-small icon-list'></i>My Listings".html_safe, offers_path %></li>
              <li><%= link_to "<i class='icon-container-small icon-cog'></i>Account Settings".html_safe, edit_user_registration_path %></li>
              <li><%= link_to "<i class='icon-container-small icon-off'></i>logout".html_safe, destroy_user_session_path %></li>
            </ul>
          </div>
        <% end %>
        </nav>
      </div>
    </div><!-- end of class="content_inner" -->
  </div><!-- end of class="header_container"-->
</div><!-- end of id="header" -->
<% end %>
<%= render 'layouts/flash_messages' %>
<%= yield :body%>
<div id="footer">
  <div class="content_inner">
    <div class="navagation">
      <div class="sub2">
        <div class="group bb br">
          <h2><i class="icon-phone icon-large icon-container"></i>Helpline</h2>
          <ul>
            <li><a href="">+91 9022-543210</a></li>
            <li><a href="">support[at]roomnhouse.com</a></li>
          </ul>
        </div>
        <div class="group  br">
          <h2><i class="icon-building icon-container"></i>Company</h2>
          <ul>
            <li><a href="http://www.roomnhouse.com/aboutus">About Us</a></li>
            <li><a href="http://smartrecruiters.com/roomnhouse">Jobs</a></li>
            <li><a href="http://blog.roomnhouse.com">Blog</a></li>
          </ul>
        </div>
      </div><!-- class="sub2" -->
      <div class="sub1">
        <div class="group bb me">
          <h2>That is All Folks...!</h2>
          <p>Room n House simply revolutionizes your travel experience.</p>
        </div>
        <div id="sub1a" class="br">
          <div class="group right">
            <h2><i class="icon-user"></i> Customer Service</h2>
            <ul>
              <li><a href="http://roomnhouse.com/whyhost">Why Host</a></li>
              <li><a href="http://roomnhouse.com/howtohost">How to Host</a></li>
              <li><a href="http://roomnhouse.com/how">How it works</a></li>
              <li><a href="http://roomnhouse.com/support">Contact support</a></li>
              <li><a href="http://roomnhouse.com/cancellation">Cancellation Policy</a></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div id="sub1b">
          <div class="group ">
            <h2>Find US Elsewhere</h2>
            <ul class="ft-social">
              <li class="twitter"><a href="https://twitter.com/RoomNHouse" rel="me"> Twitter</a></li>
              <li class="facebook"><a href="https://www.facebook.com/roomnhouse" rel="me">facebook</a></li>
              <li class="googlplus"><a href="https://plus.google.com/u/0/108260865872924249293/" rel="me">Google Plus</a></li>
              <li class="youtube"><a href="http://youtube.com/roomnhouse">youtube</a></li>
              <li class="instagram"><a href="https://instagram.com/roomnhouse">instagram</a></li>
            </ul>
          </div>
        </div><!-- class="sub1b" -->
      </div><!-- class="sub1" -->
      <div class="sub3">
        <div class="group bb bl bt960">
          <h2><i class="icon-credit-card icon-container-small"></i>Secure Payment</h2>
          <div class="payment"></div>
        </div>
        <div class="group bl ">
          <p class="copyright"><span>&copy; copyright 2013</span> <a href="http://roomnhouse.com/" class="logo"></a></p>
        </div>
      </div><!-- class="sub3" -->
      <div class="clear"></div>
    </div><!-- class="navagation" -->
    <div class="ft-links">
      <a href="http://www.roomnhouse.com/aboutus">About</a>
      <a href="http://www.roomnhouse.com/privacy">Privacy Policy</a>
      <a href="http://www.roomnhouse.com/terms">Terms & Conditions</a>
    </div> <!-- class="ts-links" -->
  </div><!-- end of class="content_inner" -->
</div><!-- end of id="footer" -->
<%= javascript_include_tag "application" %>
<%= yield :js %>
<%= yield :scripts  %>
<script type="text/javascript" charset="utf-8">
function DropDown(el) {
  this.dd = el;
  this.initEvents();
}
DropDown.prototype = {
  initEvents : function() {
    var obj = this;
    obj.dd.on('click', function(event){
      $(this).toggleClass('active');
      event.stopPropagation();
    });
  }
}
$(function() {
  var dd = new DropDown( $('#dd') );
  $(document).click(function() {
    // all dropdowns
    $('.wrapper-dropdown-5').removeClass('active');
  });
});
</script>
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
      0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
          a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
            hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
              return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
                b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
                  b.contentWindow[g].open()}catch(w){
                    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
                      var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
                        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
                          loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
                          /* custom configuration goes here (www.olark.com/documentation) */
                          olark.identify('2668-738-10-5595');/*]]>*/</script><noscript><a href="https://www.olark.com/site/2668-738-10-5595/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
</body>
</html>
