<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-RoomnHouse" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Roomnhouse" %></title>

  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <![endif]-->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag "application", :media => "all" %>
    
    </head>
    <body >
      <header role="banner">
        <nav class="navbar navbar-main navbar-static-top">
          <div class="navbar-inner">
            <div class="container">
              <div class="container nav-collapse p">
                <%= link_to root_path do%><%= image_tag "logo.png", class: "head-logo" %><% end %>
                <ul class="nav">
                  <li><%= link_to "Flood Victims", floods_path %></li>
                  <%= menu_divider %>
                  <% if !user_signed_in? %>
                  <li><%= link_to "Login", new_user_session_path  %></li>
                  <%= menu_divider %>
                  <li><%= link_to "Signup", new_user_registration_path  %></li>
                  <% else %>
                  <li><div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      Hello, <%= current_user.firstname.capitalize %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><%= link_to "My Listings", offers_path %></li>
                      <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "logout", destroy_user_session_path %></li>
                    </ul>     
                  </div>   
                </li>
                <%= menu_divider %>
                <% end %>
                <li>
                  <span>
                    <%= link_to "List Your Place", new_offer_path, :class => "btn btn-primary" %>
                  </span>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </nav>
    </header>

    <div style="padding-top:41px"></div>
    <%= yield :header %>
    <%= bootstrap_flash %>
    <%= yield :body%>
    
    <% if content_for?(:seo) %>
      <%= yield :seo%>
    <% else %>
      <div class="container_24">
        <div class="grid_24">
          <div class="seo-travel">
            <h4>RoomNHouse simply revolutionizes your travel experience.</h4>
            <p>Whether you want to sunbathe on the beaches of our favorite vacation spot Goa, take a house boat ride along the back waters of Munnar or just check out the Parliamentary house at Delhi, RoomNHouse can help you to experience the best our country has to offer. You can find stunning yet affordable serviced apartments for your next holiday using RoomNHouse. Your host will be able to tell you about the best things to see and do in their city so that you can experience a location from the perspective of a local. Looking for a place that is at a hop skip and jump distance from your place of interest? No matter where you want to go, how long you want to stay and how much you want to spend, RoomNHouse can help you plan your next voyage!</p>
            <p>Whether you want a garage to park your new car in the messy lanes of Mumbai, a place to spend the night with your loved ones, a penthouse to throw your birthday party, RoomNHouse offers accommodation for every type and every budget. We are sure that you’ll discover your desired location with our listings.</p>
            <p>Maybe it’s just like a hotel...but it’s definitely a better and memorable experience.</p>
            <p>Choosing a RoomNHouse holiday apartment over a hotel means that you’ll enjoy more space, more privacy and better value for money, all whilst staying in a unique property in the destination of your choice! RoomNHouse allows you to book your holiday apartment directly with the owner and experience life from a local’s perspective, offering you an authentic way to travel.</p>
            <p>You feel more connected with the place when you travel with RoomNHouse. It’s like making friends everywhere you travel and sharing your experiences with the locals. We believe that the more people you meet, the better travelling experiences and stories you carry!</p>
            <p>It’s all easy! You don’t have to search and compare at different places to find a destination or an accommodation that matches your need! Type in your destination, choose from the wide range of available options and interact personally with your host. And if there’s anything else that’s troubling you, our 24x7 customer care helpline is always there for you!</p>
            <p>RoomNHouse also offers family accommodations. There’s no stress of fitting the entire family in one small hotel room and paying extra for every mattress and blanket that you take! Choose spacious rooms and apartments available on RoomNHouse and live comfortably without any discomfort and off course with your family.</p>
            <p>So, turn your private empty space into a holiday rental and make some extra money from the extra space that you own!</p>
            <p>RoomNHouse also makes it easy to rent out your spare room or empty apartment or your basement or your garage or your couch and boost your income! It’s simple and free to list your place, and you’ll earn money whilst meeting new people from all over the world. Fund your next trip away, pay your bills or simply save for a rainy day - it’s an easy way to earn a few extra bucks without stressing out of a boss sitting on top and demanding things from you.</p>
            <p>Don’t hesitate, meet new people, increase your bank balance, meet new people, help a few and be a part of our ever increasing community! Join RoomNhouse, today!</p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="footer">
      <div class="footer-inner">
        <div class="grid_6">
          <h3>Customer Service</h3>
          <hr/>
          <ul>
            <li><%= link_to "How RoomNHouse works", how_index_path %></li>
            <li>Contact support</li>
          </ul>
        </div>
        <div class="grid_6">
          <h3>About RoomnHouse</h3>
          <hr/>
          <ul>
            <li><%= link_to "About Us", aboutus_path %></li>
          </ul>
        </div>
        <div class="grid_6">
          <h3>Join us on</h3>
          <hr/>
          <ul>
            <li><a href="https://www.facebook.com/roomnhouse">Facebook</a></li>
            <li><a href="https://twitter.com/RoomNHouse">Twitter</a></li>
            <li>Google +</li>
          </ul>
        </div>
        <div class="grid_6">
          <h3>Secure payment</h3>
          <hr/>
          <ul>
            <li>Paypal</li>
            <li>Visa</li>
            <li>Norton secure</li>
          </ul>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
<%= yield :js %>
  </body>
</html>
